@inherits LayoutComponentBase
<div class="contents">
    <nav>
        <NavLink href="" class="nav-tab" Match="NavLinkMatch.All">
            <div class="logo">Frederikskaj&nbsp;2</div>
        </NavLink>
        @if (user is null || !user.IsAuthenticated() || user.IsInRole(nameof(Roles.Resident)))
        {
            <NavLink href="@UrlPath.Calendar" class="nav-tab">
                <div>Kalender</div>
            </NavLink>
            <NavLink href="@UrlPath.MyOrders" class="nav-tab">
                <div>Mine bestillinger</div>
            </NavLink>
        }
        @if (roleUrls?.Count > 0)
        {
            if (roleUrls.Count is 1)
            {
                <NavLink href="@roleUrls[0]" class="nav-tab admin">
                    <div>@urlTitles[roleUrls[0]]</div>
                </NavLink>
            }
            else
            {
                var route = NavigationManager.Uri[NavigationManager.BaseUri.Length..];
                var isAdminRoute = roleUrls.Contains(route);
                var classes = "nav-tab";
                if (isOpen)
                    classes += " open";
                else if (isAdminRoute)
                    classes += " active";
                <div class="@classes">
                    <a class="menu" href="javascript:{}" @onclick="MenuClick">
                        <div class="admin">Administration</div>
                        @if (roleUrls.Contains(route))
                        {
                            <div class="current-menu">@urlTitles[route]</div>
                        }
                        <div class="menu-choices">
                            <ul>
                                @foreach (var url in roleUrls)
                                {
                                    <li>
                                        <NavLink href="javascript:{}" @onclick="() => MenuItemClick(url)">@urlTitles[url]</NavLink>
                                    </li>
                                }
                            </ul>
                        </div>
                    </a>
                </div>
            }
        }
        <div class="spacer"></div>
        <CurrentUser/>
    </nav>
    @if (!isServerUp)
    {
        <main>
            <Container>
                <Alert Color="Color.Danger" Visible="true">
                    Der er i øjeblikket driftsproblemer. Prøv igen om lidt.
                </Alert>
            </Container>
        </main>
    }
    else
    {
        @Body
    }
</div>
