<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">
<head>
    <title>Bestilling @Model.Data.OrderId</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 " />
</head>
<body>
    <p>Hej @Model.Data.FullName</p>
    <p>Tak for din bestilling med <a href="@Model.Data.OrderUrl">bestillingsnr. @Model.Data.OrderId</a>.</p>
@if (Model.Data.Payment is null)
{
    <p>Da du tidligere har indbetalt et beløb som dækker prisen for denne bestilling, er din bestilling godkendt og betalt, og du behøver ikke at foretage dig yderligere.</p>
}
else
{
    <p>Din bestilling bliver først godkendt når du har indbetalt det beløb du skylder til grundejerforeningens bankkonto:</p>
    <p>
        <table>
            <tbody>
                <tr>
                    <td>Beløb:</td>
                    <td><strong>@Model.FormatAmount(Model.Data.Payment.Amount)</strong></td>
                </tr>
                <tr>
                    <td>Kontonummer:</td>
                    <td><strong>@Model.Data.Payment.AccountNumber</strong></td>
                </tr>
                <tr>
                    <td>Tekst på indbetaling:</td>
                    <td><strong>@Model.Data.Payment.PaymentId</strong></td>
                </tr>
            </tbody>
        </table>
    </p>
    <p>Du bedes <strong>inden fire dage</strong> indbetale det skyldige beløb. Ellers forbeholder vi os ret til at annullere din bestilling.</p>
    <p><strong>Bemærk:</strong> Hvis du har flere ubetalte bestillinger udgør ovenstående din <strong>samlede</strong> gæld til grundejerforeningen. Du skal kun betale det beløb som fremgår af den <strong>seneste</strong> besked du har modtaget.</p>
}
    <p><em>(Dette er en automatisk udsendt besked som ikke skal besvares.)</em></p>
    <p>Med venlig hilsen<br />@Model.From<br /><a href="@Model.FromUrl">@Model.FromUrl</a></p>
    <p><a href="@Model.Data.OrderUrl">Din bestilling</a> • <a href="@Model.GetUrl(Urls.MyTransactions)">Dit kontoudtog</a> • <a href="@Model.GetUrl(Urls.MyAccount)">Din konto</a></p>
</body>
