@model ReservationSettledModel
@inject CultureInfo CultureInfo
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">
<head>
    <title>Opgørelse af reservation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 " />
</head>
<body>
    <p>Hej @Model.Name</p>
    <p>Vi har nu opgjort din reservation af @Model.ResourceName @LocalDatePattern.Create("dddd 'den' d. MMMM yyyy", CultureInfo).Format(Model.Date) hørende til <a href="@Model.Url">bestilling @Model.OrderId</a>.</p>
@if (Model.Damages > 0)
{
    <p>Vi tilbageholder @Model.Damages.ToString("C0", CultureInfo) af dit despositum på @Model.Deposit.ToString("C0", CultureInfo) til dækning af følgende: @Model.DamagesDescription.</p>
}
    @if (Model.Damages < Model.Deposit)
{
    <p>Du vil få udbetalt@(Model.Damages > 0 ? " resten" : string.Empty) af dit depositum, dvs. @((Model.Deposit - Model.Damages).ToString("C0", CultureInfo)).</p>
    <p>Bemærk at der kan gå op til to måneder før det sker.</p>
}
    @await Html.PartialAsync("_Signature", Model)
    @await Html.PartialAsync("_Links", Model)
</body>
