@using Frederikskaj2.Reservations.Shared.Core
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">
<head>
    <title>Bestilling @Model.Data.OrderId</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 " />
</head>
<body>
    <p>Hej @Model.Data.FullName</p>
    <p>Følgende reservationer hørende til <a href="@Model.Data.OrderUrl">bestilling @Model.Data.OrderId</a> er blevet annulleret:</p>
    <ul>
@foreach (var reservation in Model.Data.Reservations)
{
        <li>@reservation.ResourceName @Model.FormatLongDate(reservation.Date)</li>
}
    </ul>
@if (Model.Data.Refund > Amount.Zero)
{
    <p>
        Leje og depositum på @Model.FormatAmount(Model.Data.Refund) vil blive refunderet.
    @if (Model.Data.Fee > Amount.Zero)
    {
        <text>Vi har fratrukket et afbestillingsbebyr på @Model.FormatAmount(Model.Data.Fee).</text>
    }
    </p>
}
    <p><em>(Dette er en automatisk udsendt besked som ikke skal besvares.)</em></p>
    <p>Med venlig hilsen<br />@Model.From<br /><a href="@Model.FromUrl">@Model.FromUrl</a></p>
    <p><a href="@Model.Data.OrderUrl">Din bestilling</a> • <a href="@Model.GetUrl(Urls.MyTransactions)">Dit kontoudtog</a> • <a href="@Model.GetUrl(Urls.MyAccount)">Din konto</a></p>
</body>
