@using Frederikskaj2.Reservations.Shared.Web
<div>
    <Field>
        <FieldLabel>Kontonummer (til udbetaling af depositum)</FieldLabel>
        <FieldBody>
            <Validation Validator="@Validator.ValidateAccountNumber">
                <TextEdit @ref="textEdit" InputMode="TextInputMode.Tel" Text="@Value" TextChanged="@ValueChanged" Disabled="@Disabled" MaxLength="@ValidationRules.MaximumAccountNumberLength" placeholder="1111-2222333344">
                    <Feedback>
                        <ValidationError/>
                    </Feedback>
                </TextEdit>
            </Validation>
        </FieldBody>
    </Field>
</div>
