<Field>
    <FieldLabel>Din adresse</FieldLabel>
    <FieldBody>
        <Validation Validator="@Validate">
            <div class="parent">
                <Select Class="form-control child" TValue="char" SelectedValue="@selectedLetter" SelectedValueChanged="@LetterChangedAsync" Disabled="@Disabled">
                    <SelectItem Value="@noLetter">Vælg opgang</SelectItem>
                    @if (apartments is not null)
                    {
                        foreach (var letter in apartments.Keys)
                        {
                            <SelectItem Value="@letter">2@(letter)</SelectItem>
                        }
                    }
                </Select>
                <Select Class="form-control child" TValue="int" SelectedValue="@selectedApartmentId" SelectedValueChanged="@SetApartmentIdAsync" Disabled="@(Disabled || selectedLetter == noLetter)">
                    <ChildContent>
                        <SelectItem Value="@noApartmentId">Vælg lejlighed</SelectItem>
                        @if (selectedLetter != noLetter)
                        {
                            foreach (var apartment in apartments![selectedLetter])
                            {
                                <SelectItem Value="@apartment.ApartmentId.ToInt32()">@apartment</SelectItem>
                            }
                        }
                    </ChildContent>
                    <Feedback>
                        <ValidationError/>
                    </Feedback>
                </Select>
            </div>
        </Validation>
    </FieldBody>
</Field>
