@page "/noeglebokskoder"
<PageTitle>Nøglebokskoder - Frederikskaj 2 lokalereservation</PageTitle>
<main>
    @if (!isInitialized)
    {
        <Spinner/>
    }
    else if (allWeeklyLockBoxCodes is null)
    {
        <Container>
            <Alert Color="Color.Danger" Visible="true">
                Der er i øjeblikket driftsproblemer. Prøv igen om lidt.
            </Alert>
        </Container>
    }
    else
    {
        var orderedResources = resources!.Values.OrderBy(resource => resource.Sequence);
        <Container>
            <Alert Color="Color.Success" Visible="showSuccessAlert" Dismisable="true">
                Listen med nøglebokskoder er blevet send til @email.
                <CloseButton Clicked="DismissSuccessAlert"/>
            </Alert>
            <Alert Color="Color.Danger" Visible="showErrorAlert" Dismisable="true">
                Der er sket en fejl, og listen med nøglebokskoder blev ikke sendt.
                <CloseButton Clicked="DismissErrorAlert"/>
            </Alert>
            <h1>Koder til nøglebokse</h1>
            <Table>
                <TableHeader>
                    <TableRow>
                        <TableHeaderCell>Uge</TableHeaderCell>
                        <TableHeaderCell>Dato</TableHeaderCell>
                        @foreach (var resource in orderedResources)
                        {
                            <TableHeaderCell Class="text-center" ColumnSpan="2">@resource.Name</TableHeaderCell>
                        }
                    </TableRow>
                </TableHeader>
                <TableBody>
                    @foreach (var weeklyLockBoxCodes in allWeeklyLockBoxCodes!)
                    {
                        <TableRow>
                            <TableHeaderCell>@weeklyLockBoxCodes.WeekNumber</TableHeaderCell>
                            <TableRowCell>@Formatter.FormatDate(weeklyLockBoxCodes.Date)</TableRowCell>
                            @foreach (var resource in orderedResources)
                            {
                                var code = weeklyLockBoxCodes.Codes.FirstOrDefault(c => c.ResourceId == resource.ResourceId);
                                if (code != null)
                                {
                                    <TableRowCell Class="text-right">@(code.Code)</TableRowCell>
                                    <TableRowCell Class="text-left">@(code.Difference)</TableRowCell>
                                }
                                else
                                {
                                    <TableRowCell ColumnSpan="2"/>
                                }
                            }
                        </TableRow>
                    }
                </TableBody>
            </Table>
            <Form>
                <Paragraph>
                    <Button Color="Color.Secondary" Type="@ButtonType.Submit" PreventDefaultOnSubmit="true" Clicked="SendList">Send liste som mail</Button>
                </Paragraph>
            </Form>
        </Container>
    }
</main>
