@model ReservationCancelledModel
@inject CultureInfo CultureInfo
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">
<head>
    <title>Reservering annulleret</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 " />
    <style>
    </style>
</head>
<body>
    <p>Hej @Model.Name</p>
    <p>Din reservation af @Model.ResourceName @LocalDatePattern.Create("dddd 'den' d. MMMM yyyy", CultureInfo).Format(Model.Date) hørende til <a href="@Model.Url">bestilling @Model.OrderId</a> er blevet annulleret</p>
    <p>Vi udbetaler dit depositum fraregnet et afbestillingsgebyr på @Model.CancellationFee.ToString("C0", CultureInfo) til den bankkonto du oplyste da du afgav din bestilling.</p>
    <p>Med venlig hilsen<br />@Model.From<br /><a href="@Model.FromUrl">@Model.FromUrl</a></p>
</body>
