<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">
<head>
    <title>Rengøringsplan</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 " />
</head>
<body>
    <p>Hej @Model.Data.FullName</p>
@if (Model.Data.CancelledTasks.Any() || Model.Data.NewTasks.Any())
{
    <p>Rengøringsplanen for Frederikskaj 2 er blevet opdateret.</p>
}
@if (Model.Data.CancelledTasks.Any())
{
    <p><strong>Aflysninger</strong></p>
    <table>
        <thead>
            <tr>
                <th style="padding: 8px; text-align: left; border-top: solid 1px #CCC; border-bottom: solid 2px #CCC; border-collapse: collapse">Start</th>
                <th style="padding: 8px; text-align: left; border-top: solid 1px #CCC; border-bottom: solid 2px #CCC; border-collapse: collapse">Slut</th>
                <th style="padding: 8px; text-align: left; border-top: solid 1px #CCC; border-bottom: solid 2px #CCC; border-collapse: collapse">Tidsrum</th>
                <th style="padding: 8px; text-align: left; border-top: solid 1px #CCC; border-bottom: solid 2px #CCC; border-collapse: collapse">Lokale</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var task in Model.Data.CancelledTasks)
        {
            <tr style="text-decoration: line-through">
                <td style="padding: 8px; text-align: left; border-top: solid 1px #CCC; border-collapse: collapse">@Model.FormatLongTime(task.Begin)</td>
                <td style="padding: 8px; text-align: left; border-top: solid 1px #CCC; border-collapse: collapse">@Model.FormatLongTime(task.End)</td>
                <td style="padding: 8px; text-align: left; border-top: solid 1px #CCC; border-collapse: collapse">@Model.FormatPeriod(task.End - task.Begin)</td>
                <td style="padding: 8px; text-align: left; border-top: solid 1px #CCC; border-collapse: collapse">@Model.Data.ResourceNames[task.ResourceId]</td>
            </tr>
        }
        </tbody>
    </table>
}
@if (Model.Data.NewTasks.Any())
{
    <p><strong>Nye opgaver</strong></p>
    <table>
        <thead>
            <tr>
                <th style="padding: 8px; text-align: left; border-top: solid 1px #CCC; border-bottom: solid 2px #CCC; border-collapse: collapse">Start</th>
                <th style="padding: 8px; text-align: left; border-top: solid 1px #CCC; border-bottom: solid 2px #CCC; border-collapse: collapse">Slut</th>
                <th style="padding: 8px; text-align: left; border-top: solid 1px #CCC; border-bottom: solid 2px #CCC; border-collapse: collapse">Tidsrum</th>
                <th style="padding: 8px; text-align: left; border-top: solid 1px #CCC; border-bottom: solid 2px #CCC; border-collapse: collapse">Lokale</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var task in Model.Data.NewTasks)
        {
            <tr>
                <td style="padding: 8px; text-align: left; border-top: solid 1px #CCC; border-collapse: collapse">@Model.FormatLongTime(task.Begin)</td>
                <td style="padding: 8px; text-align: left; border-top: solid 1px #CCC; border-collapse: collapse">@Model.FormatLongTime(task.End)</td>
                <td style="padding: 8px; text-align: left; border-top: solid 1px #CCC; border-collapse: collapse">@Model.FormatPeriod(task.End - task.Begin)</td>
                <td style="padding: 8px; text-align: left; border-top: solid 1px #CCC; border-collapse: collapse">@Model.Data.ResourceNames[task.ResourceId]</td>
            </tr>
        }
        </tbody>
    </table>
}
@if (Model.Data.UpdatedTasks.Any())
{
    <p><strong>Ændrede opgaver</strong></p>
    <table>
        <thead>
            <tr>
                <th style="padding: 8px; text-align: left; border-top: solid 1px #CCC; border-bottom: solid 2px #CCC; border-collapse: collapse">Start</th>
                <th style="padding: 8px; text-align: left; border-top: solid 1px #CCC; border-bottom: solid 2px #CCC; border-collapse: collapse">Slut</th>
                <th style="padding: 8px; text-align: left; border-top: solid 1px #CCC; border-bottom: solid 2px #CCC; border-collapse: collapse">Tidsrum</th>
                <th style="padding: 8px; text-align: left; border-top: solid 1px #CCC; border-bottom: solid 2px #CCC; border-collapse: collapse">Lokale</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var task in Model.Data.UpdatedTasks)
        {
            <tr>
                <td style="padding: 8px; text-align: left; border-top: solid 1px #CCC; border-collapse: collapse">@Model.FormatLongTime(task.Begin)</td>
                <td style="padding: 8px; text-align: left; border-top: solid 1px #CCC; border-collapse: collapse">@Model.FormatLongTime(task.End)</td>
                <td style="padding: 8px; text-align: left; border-top: solid 1px #CCC; border-collapse: collapse">@Model.FormatPeriod(task.End - task.Begin)</td>
                <td style="padding: 8px; text-align: left; border-top: solid 1px #CCC; border-collapse: collapse">@Model.Data.ResourceNames[task.ResourceId]</td>
            </tr>
        }
        </tbody>
    </table>
}
    <p><strong>Aktuel rengøringsplan</strong></p>
@if (Model.Data.Tasks.Any())
{
    <table>
        <thead>
            <tr>
                <th style="padding: 8px; text-align: left; border-top: solid 1px #CCC; border-bottom: solid 2px #CCC; border-collapse: collapse">Start</th>
                <th style="padding: 8px; text-align: left; border-top: solid 1px #CCC; border-bottom: solid 2px #CCC; border-collapse: collapse">Slut</th>
                <th style="padding: 8px; text-align: left; border-top: solid 1px #CCC; border-bottom: solid 2px #CCC; border-collapse: collapse">Tidsrum</th>
                <th style="padding: 8px; text-align: left; border-top: solid 1px #CCC; border-bottom: solid 2px #CCC; border-collapse: collapse">Lokale</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var task in Model.Data.Tasks)
        {
            <tr>
                <td style="padding: 8px; text-align: left; border-top: solid 1px #CCC; border-collapse: collapse">@Model.FormatLongTime(task.Begin)</td>
                <td style="padding: 8px; text-align: left; border-top: solid 1px #CCC; border-collapse: collapse">@Model.FormatLongTime(task.End)</td>
                <td style="padding: 8px; text-align: left; border-top: solid 1px #CCC; border-collapse: collapse">@Model.FormatPeriod(task.End - task.Begin)</td>
                <td style="padding: 8px; text-align: left; border-top: solid 1px #CCC; border-collapse: collapse">@Model.Data.ResourceNames[task.ResourceId]</td>
            </tr>
        }
        </tbody>
    </table>
    @foreach (var month in Model.Data.Months)
    {
    <p><strong>@Model.FormatMonth(month.Month)</strong></p>
    <p>@Html.Raw(month.Picture.ToInlineHtml())</p>
    }
    <p>@Html.Raw(Model.Data.Legend.ToInlineHtml())</p>
}
else
{
    <p>Der er ingen opgaver.</p>
}
    <p>Med venlig hilsen<br />@Model.From<br /><a href="@Model.FromUrl">@Model.FromUrl</a></p>
</body>
