@model KeyCodeModel
@inject CultureInfo CultureInfo
@{
    var pattern = LocalDatePattern.Create("d. MMMM yyyy", CultureInfo);
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">
<head>
    <title>Nøglebokskode</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 " />
    <style>
    </style>
</head>
<body>
    <p>Hej @Model.Name</p>
@if (Model.DatedKeyCodes.Count == 1)
{
    <p>Her er den nøglebokskode du skal bruge for at få adgang til <strong>@Model.ResourceName</strong> den @pattern.Format(Model.Date):</p>
    <p><strong>@Model.DatedKeyCodes[0].Code</strong></p>
}
else
{
    <p>Her er de nøglebokskoder du skal bruge for at få adgang til <strong>@Model.ResourceName</strong> den @pattern.Format(Model.Date):</p>
@foreach (var datedKeyCode in Model.DatedKeyCodes)
{
    <p>Fra @pattern.Format(datedKeyCode.Date): <strong>@datedKeyCode.Code</strong></p>
}
}
    <p>Det er <strong>vigtigt</strong> at du læser den <a href="@Model.RulesUri">husorden</a> der gælder for brug lokalet.</p>
    @await Html.PartialAsync("_Signature", Model)
    @await Html.PartialAsync("_Links", Model)
</body>