@page "/bestil/1"
<PageTitle>Bestil - Frederikskaj 2 lokalereservation</PageTitle>
<main>
    @if (!DraftOrder.Reservations.Any())
    {
        <Container>
            <Paragraph>Gå til <a href="@Urls.Calendar">kalenderen</a> for at reservere et lokale.</Paragraph>
        </Container>
    }
    else if (!isInitialized)
    {
        <Spinner/>
    }
    else if (!hasConfirmedEmail)
    {
        <Container>
            <Alert Color="Color.Danger" Visible="@showEmailNotConfirmedAlert">
                Du mangler at bekræfte din mail.
            </Alert>
            <Alert Color="Color.Success" Visible="@showResendConfirmEmailEmailAlert">
                Du har fået tilsendt en ny bekræftelses-mail. Når du har bekæftet din mail kan du fortsætte med at bestille.
            </Alert>
            <Alert Color="Color.Danger" Visible="@showResendConfirmEmailEmailErrorAlert" Dismisable="true">
                Der er sket en fejl, og der blev ikke sendt en ny bekræftelses-mail.
                <CloseButton Clicked="@DismissResendConfirmEmailEmailErrorAlert" />
            </Alert>
            <Paragraph>Vi kan sende dig en ny bekræftelses-mail som du kan bruge til at bekræfte din mail.</Paragraph>
            <Button Color="Color.Primary" Class="btn-fixed" Clicked="@ResendConfirmEmail">Bekræft mail</Button>
        </Container>
        <Container>
            <Paragraph>Når du har bekræftet din mail kan du fortsætte med at bestille.</Paragraph>
            <Button Color="Color.Secondary" Class="btn-fixed" Clicked="@UpdateEmailConfirmationStatus">Bestil</Button>
        </Container>
    }
    else
    {
        <Container Class="container-max-sm">
            <h1>Dine oplysninger</h1>
            <Form>
                <Validations @ref="validations" Mode="ValidationMode.Manual">
                    <FullNameEditor @ref="fullNameEditor" @bind-Value="@OrderInformation.FullName"/>
                    <PhoneEditor @bind-Value="@OrderInformation.Phone"/>
                    <AddressEditor @bind-Value="@OrderInformation.ApartmentId" IsRequired="true"/>
                    <AccountNumberEditor @bind-Value="@OrderInformation.AccountNumber"/>
                    <Button
                        Class="float-right"
                        Color="Color.Success"
                        Type="ButtonType.Submit"
                        PreventDefaultOnSubmit="true"
                        Clicked="@SubmitAsync">Gennemse bestilling</Button>
                </Validations>
            </Form>
        </Container>
    }
</main>
