@page "/bestil/3"
@attribute [Authorize]
@inject ApplicationState ApplicationState
@inject FormattingService FormattingService
@inject ReservationsOptions ReservationsOptions

<main>
    <Container>
        <Paragraph>Tak for din bestilling med <a href="@($"{Urls.MyOrders}/{ApplicationState.MyOrder!.Id}")">bestillingsnummer @ApplicationState.MyOrder.Id</a>.</Paragraph>
        @if (ApplicationState.MyOrder!.Totals!.GetBalance() == 0)
        {
            <Paragraph>Da du har et tidligere indbetalt beløb som dækker prisen for denne bestilling er din bestilling godkendt og betalt, og du behøver ikke at foretage dig yderligere.</Paragraph>
        }
        else
        {
            if (ApplicationState.MyOrder!.Totals.BalanceIn > 0)
            {
                <Paragraph>Da du afgav din bestilling havde du @FormattingService.FormatMoneyLong(ApplicationState.MyOrder!.Totals.BalanceIn) til gode, og du behøver derfor kun at betale forskellen mellem den fulde pris på @FormattingService.FormatMoneyLong(ApplicationState.MyOrder!.Totals.Price) og beløbet du har til gode.</Paragraph>
            }
            <Paragraph>Din bestilling bliver først godkendt når du har indbetalt det skyldige beløb til grundejerforeningens bankkonto:</Paragraph>
            <div class="payment-table">
                <span>Beløb:</span>
                <span><strong>@FormattingService.FormatMoneyLong(-ApplicationState.MyOrder!.Totals!.GetBalance())</strong></span>
                <span>Kontonummer:</span>
                <span><strong>@ReservationsOptions.PayInAccountNumber</strong></span>
                <span>Tekst på indbetaling:</span>
                <span><strong>Bestilling @ApplicationState.MyOrder.Id</strong></span>
            </div>
            <Paragraph>Du bedes <strong>inden fire dage</strong> indbetale det skyldige beløb. Ellers forbeholder vi os ret til at annullere din bestilling.</Paragraph>
        }
    </Container>
</main>