@page "/bekraeft-mail"
<PageTitle>Bekræft mail - Frederikskaj 2 lokalereservation</PageTitle>
<main>
    @if (!isInitialized)
    {
        <Spinner/>
    }
    else
    {
        <Container>
            @if (showConfirmErrorAlert)
            {
                <Alert Color="Color.Danger" Visible="@showResendErrorAlert" Dismisable="true">
                    Der er sket en fejl, og der blev ikke sendt en ny bekræftelses-mail.
                    <CloseButton Clicked="@DismissResendAlerts"/>
                </Alert>
                <Alert Color="Color.Success" Visible="@showResendSuccessAlert" Dismisable="true">
                    Du har fået tilsendt en ny bekræftelses-mail til @email.
                    <CloseButton Clicked="@DismissResendAlerts"/>
                </Alert>
                <Alert Color="Color.Danger" Visible="true">
                    @if (error == ConfirmEmailError.TokenExpired)
                    {
                        <text>Din bekræftelses-mail er for gammel, så din mail kan ikke bekræftes.</text>
                    }
                    else
                    {
                        <text>Der er sket en fejl, og din mail blev ikke bekræftet.</text>
                    }
                    @if (!string.IsNullOrEmpty(email))
                    {
                        <text>Vi kan sende en ny bekræftelses-mail til @email.</text>
                        <div class="alert-button-container">
                            <Button Color="Color.Primary" Class="btn-fixed" Clicked="@ResendConfirmEmail">Bekræft mail</Button>
                        </div>
                    }
                </Alert>
            }
            else
            {
                <Paragraph>Din mail er nu bekræftet.</Paragraph>
                <Paragraph>Gå til <a href="@Urls.Calendar">kalenderen</a> for at reservere et lokale.</Paragraph>
            }
        </Container>
    }
</main>
