@page "/indbetalinger"
<PageTitle>Indbetalinger - Frederikskaj 2 lokalereservation</PageTitle>
<main>
    @if (!isInitialized)
    {
        <Spinner/>
    }
    else if (apartments is null || debtors is null)
    {
        <Container>
            <Alert Color="Color.Danger" Visible="true">
                Der er i øjeblikket driftsproblemer. Prøv igen om lidt.
            </Alert>
        </Container>
    }
    else
    {
        <Container>
            <Alert Color="Color.Success" Visible="@showSuccessAlert" Dismisable="true">
                Indbetaling af @Formatter.FormatMoneyLong(amount) med beskrivelse @paymentId er registreret.
                <CloseButton Clicked="@DismissSuccessAlert"/>
            </Alert>
            <Alert Color="Color.Danger" Visible="@showErrorAlert" Dismisable="true">
                Der er sket en fejl, og indbetalingen blev ikke registreret.
                <CloseButton Clicked="@DismissErrorAlert"/>
            </Alert>
            <h1>Beboere med gæld</h1>
            @if (debtors.Count is 0)
            {
                <Paragraph>Der er intet at vise.</Paragraph>
            }
            else
            {
                <Table>
                    <TableHeader>
                        <TableRow>
                            <TableHeaderCell>Identifikation</TableHeaderCell>
                            <TableHeaderCell>Navn</TableHeaderCell>
                            <TableHeaderCell>Adresse</TableHeaderCell>
                            <TableHeaderCell>Mail</TableHeaderCell>
                            <TableHeaderCell>Telefon</TableHeaderCell>
                            <TableHeaderCell Class="text-right">Gæld</TableHeaderCell>
                            <TableHeaderCell></TableHeaderCell>
                        </TableRow>
                    </TableHeader>
                    <TableBody>
                        @foreach (var debtor in debtors)
                        {
                            <TableRow @key="@debtor.PaymentId">
                                <TableRowCell>@debtor.PaymentId</TableRowCell>
                                <TableRowCell><a href="@string.Format(Urls.UsersTransactions, debtor.UserInformation.UserId)">@debtor.UserInformation.FullName</a></TableRowCell>
                                <TableRowCell>@(debtor.UserInformation.ApartmentId.HasValue ? apartments![debtor.UserInformation.ApartmentId.Value] : "")</TableRowCell>
                                <TableRowCell>
                                    <a href="mailto:@debtor.UserInformation.Email?subject=Frederikskaj 2 lokaler">@Formatter.FormatEmail(debtor.UserInformation.Email)</a>
                                </TableRowCell>
                                <TableRowCell>@Formatter.FormatPhone(debtor.UserInformation.Phone)</TableRowCell>
                                <TableRowCell Class="text-right">@Formatter.FormatMoneyShort(debtor.Amount)</TableRowCell>
                                <TableRowCell>
                                    <Button Color="Color.Light" Size="Size.Small" Clicked="@(() => RecordPayIn(debtor))">Registrér indbetaling</Button>
                                </TableRowCell>
                            </TableRow>
                        }
                    </TableBody>
                </Table>
            }
            <h1>Øvrige beboere</h1>
            <Form>
                <Button Color="Color.Secondary" Clicked="@RecordPayIn">Registrér indbetaling</Button>
            </Form>
            <PayInDialog @ref="payInDialog" Debtors="@debtors" OnConfirm="@OnPayInConfirmAsync"/>
            <PayInDialog @ref="otherPayInDialog" Debtors="@otherDebtors" IsDebitHidden="true" OnConfirm="@OnPayInConfirmAsync"/>
        </Container>
    }
</main>
