@page "/historik"
@attribute [Authorize(Roles = Roles.OrderHandling)]
@inject ApiClient ApiClient
@inject ClientDataProvider ClientDataProvider
@inject FormattingService FormattingService

<main>
    @if (!isInitialized)
    {
        <Spinner />
    }
    else
    {
        <Container>
            <h1>Historik</h1>
            @if (!reservations!.Any())
            {
                <Paragraph>Der er intet at vise.</Paragraph>
            }
            else
            {
                <Table>
                    <TableHeader>
                        <TableRow>
                            <TableHeaderCell>Lokale</TableHeaderCell>
                            <TableHeaderCell>Dato</TableHeaderCell>
                            <TableHeaderCell>Nætter</TableHeaderCell>
                            <TableHeaderCell>Adresse</TableHeaderCell>
                            <TableHeaderCell>Bruger</TableHeaderCell>
                            <TableHeaderCell>Bestilling</TableHeaderCell>
                        </TableRow>
                    </TableHeader>
                    <TableBody>
                        @foreach (var reservation in reservations!)
                        {
                            <TableRow @key="@reservation.Id">
                                <TableRowCell>@resources![reservation.ResourceId].Name</TableRowCell>
                                <TableRowCell>@FormattingService.FormatDate(reservation.Date)</TableRowCell>
                                <TableRowCell>@reservation.DurationInDays</TableRowCell>
                                <TableRowCell>Frederikskaj @apartments![reservation.ApartmentId]</TableRowCell>
                                <TableRowCell>
                                    @if (reservation.Email != null)
                                    {
                                        <a href="mailto:@reservation.Email?subject=Frederikskaj 2">@reservation.FullName</a>
                                    }
                                    else
                                    {
                                        <text>(Slettet)</text>
                                    }
                                </TableRowCell>
                                <TableRowCell><a href="@Urls.Orders/@reservation.OrderId">@reservation.OrderId</a></TableRowCell>
                            </TableRow>
                        }
                    </TableBody>
                </Table>
            }
        </Container>
    }
</main>
@code {

    private IReadOnlyDictionary<int, Resource>? resources;
    private IReadOnlyDictionary<int, Apartment>? apartments;
    private IEnumerable<HistoryReservation>? reservations;
    private bool isInitialized;

    protected override async Task OnInitializedAsync()
    {
        resources = await ClientDataProvider.GetResources();
        apartments = (await ClientDataProvider.GetApartments()).ToDictionary(apartment => apartment.Id);
        var maybe = await ApiClient.GetJsonAsync<IEnumerable<HistoryReservation>>("reservations");
        maybe.TryGetValue(out reservations);
        isInitialized = true;
    }

}