@page "/"
<PageTitle>Frederikskaj 2 lokalereservation</PageTitle>
<main>
    @if (!isInitialized)
    {
        <Spinner/>
    }
    else
    {
        <Container Class="text">
            <div class="front-page-image">
                <img src="/img/faelleshus.jpg" alt="Fælleshus"/>
            </div>
            <p>Frederikskaj 2 har et fælleshus som består af et <a href="@Urls.RoomsBanquetFacilities">aktivitets-/festlokale</a>, samt to <a href="@Urls.RoomsBedrooms">soveværelser</a> med bad. Soveværelserne kan man leje til overnattende gæster. Det er <strong>kun</strong> beboere på Frederikskaj 2, som kan leje lokaler, og det er ikke tilladt at udleje soveværelserne eller aktivitets-/festlokalet til tredjemand, eller leje lokalerne til »andres fest«.</p>
            <h1>Sådan reserverer du</h1>
            <ul>
                <li>Benyt kalenderen til at vælge lokale og tidspunkt.</li>
                <li>Bekræft din reservation (du vil blive bedt om at logge ind med en eksisterende bruger eller oprette en ny bruger).</li>
                <li>Betal for din reservation som beskrevet.</li>
                <li>Din bestilling bliver først godkendt når vi har modtaget din betaling. Hvis du ikke betaler bliver din bestilling annulleret.</li>
                <li>Du kan afbestille indtil 14 dage før din reservation mod betaling af et gebyr. Det er ikke muligt at afbestille senere.</li>
                <li>Nogle dage før du skal bruge lokalet får du en mail med en nøglebokskode som giver dig adgang til lokalet.</li>
            </ul>
            <p>Dit depositum (med evt. fradrag for skader) bliver udbetalt når din lejeperiode er afsluttet. Der kan gå op til to måneder før det sker.</p>
            <h1>Priser</h1>
            <p>Prisen afhænger af hvilken dag det er:</p>
            <ul>
                <li><strong>Dyr dag:</strong> Fredag, lørdag, søndag, helligdag og dagen før en helligdag.</li>
                <li><strong>Billig dag:</strong> Alle andre dage.</li>
            </ul>
            <p>Hvis du reserverer <strong>aktivitets-/fælleslokalet</strong> på en <strong>dyr dag</strong>, skal du også reservere den efterfølgende dag. Dette giver dig bedre tid til forberedelse og oprydning.</p>
            <Table Narrow="true">
                <TableHeader>
                    <TableRow>
                        <TableHeaderCell>Pris</TableHeaderCell>
                        <TableHeaderCell Class="text-center">Aktivitets-/festlokale</TableHeaderCell>
                        <TableHeaderCell Class="text-center">Soveværelser</TableHeaderCell>
                    </TableRow>
                </TableHeader>
                <TableBody>
                    <TableRow>
                        <TableRowCell>Per nat</TableRowCell>
                        <TableRowCell Class="text-center">@FormatPrice(options!.Prices[ResourceType.BanquetFacilities].HighRentPerNight, options.Prices[ResourceType.BanquetFacilities].LowRentPerNight)</TableRowCell>
                        <TableRowCell Class="text-center">@FormatPrice(options!.Prices[ResourceType.Bedroom].HighRentPerNight, options.Prices[ResourceType.Bedroom].LowRentPerNight)</TableRowCell>
                    </TableRow>
                    <TableRow>
                        <TableRowCell>Slutrengøring</TableRowCell>
                        <TableRowCell Class="text-center">@FormatPrice(options!.Prices[ResourceType.BanquetFacilities].Cleaning)</TableRowCell>
                        <TableRowCell Class="text-center">@FormatPrice(options!.Prices[ResourceType.Bedroom].Cleaning)</TableRowCell>
                    </TableRow>
                    <TableRow>
                        <TableRowCell>Depositum</TableRowCell>
                        <TableRowCell Class="text-center">@FormatPrice(options!.Prices[ResourceType.BanquetFacilities].HighDeposit, options.Prices[ResourceType.BanquetFacilities].LowDeposit)</TableRowCell>
                        <TableRowCell Class="text-center">@FormatPrice(options!.Prices[ResourceType.Bedroom].HighDeposit, options.Prices[ResourceType.Bedroom].LowDeposit)</TableRowCell>
                    </TableRow>
                    <TableRow>
                        <TableRowCell>Afbestillingsgebyr</TableRowCell>
                        <TableRowCell Class="text-center">@FormatPrice(options!.CancellationFee)</TableRowCell>
                        <TableRowCell Class="text-center">@FormatPrice(options!.CancellationFee)</TableRowCell>
                    </TableRow>
                </TableBody>
            </Table>
            <h1>Regler</h1>
            <ul>
                <li>
                    <a href="@Urls.Terms">Lejebetingelser</a>
                </li>
                <li>
                    <a href="@Urls.RulesBanquetFacilities">Husorden for aktivitets-/festlokale</a>
                </li>
                <li>
                    <a href="@Urls.RulesBedrooms">Husorden for soveværelserne</a>
                </li>
                <li>
                    <a href="@Urls.InventoryBanquetFacilities" target="_blank">Aktivitets-/fælleslokale inventarliste</a>
                </li>
            </ul>
        </Container>
    }
</main>
