@page "/bruger/bestillinger/{orderId:int}"
@attribute [Authorize]
@inject ApiClient ApiClient
@inject IAuthenticationStateProvider AuthenticationStateProvider
@inject ClientDataProvider ClientDataProvider
@inject NavigationManager NavigationManager

<main>
    @if (!isInitialized)
    {
        <Spinner />
    }
    else if (order != null)
    {
        <Container class="container-min-md">
            <Alert Color="Color.Danger" Visible="@showErrorAlert" Dismisable="true">
                Der er sket en fejl, og din bestilling blev ikke opdateret.
                <CloseButton Clicked="@DismissErrorAlert" />
            </Alert>
            <h1>Bestilling @order!.Id</h1>
            @if (!isHistoryOrder)
            {
                <div><a href="@Urls.Terms">Lejebetingelser</a></div>
                @if (linkBanquetFacilitiesRules)
                {
                    <div><a href="@Urls.RulesBanquetFacilities">Husorden for aktivitets-/festlokalet</a></div>
                }
                @if (linkBedroomRules)
                {
                    <div><a href="@Urls.RulesBedrooms">Husorden for soveværelserne</a></div>
                }
            }
            <OrderStatement @ref="orderStatement" OrderId="@order.Id" AccountNumber="@order.AccountNumber" Reservations="@order.Reservations" Totals="@order.Totals" IsHistoryOrder="@isHistoryOrder" OnSubmit="@Submit" />
        </Container>
    }
    else
    {
        <Container>
            <Text>Bestilling @OrderId er ikke tilgængelig.</Text>
        </Container>
    }
</main>

@code {

    private OrderStatement orderStatement = null!;
    private MyOrder? order;
    private bool isHistoryOrder;
    private bool linkBanquetFacilitiesRules;
    private bool linkBedroomRules;
    private bool isInitialized;
    private bool showErrorAlert;

    [Parameter]
    public int OrderId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var url = $"my-orders/{OrderId}";
        var maybe = await ApiClient.GetJsonAsync<OrderResponse<MyOrder>>(url);
        if (maybe.TryGetValue(out var response) && response.Order != null)
        {
            order = response.Order;
            var resources = await ClientDataProvider.GetResources();
            isHistoryOrder = order.AccountNumber == null;
            linkBanquetFacilitiesRules = order.Reservations.Any(reservation => resources[reservation.ResourceId].Type == ResourceType.BanquetFacilities);
            linkBedroomRules = order.Reservations.Any(reservation => resources[reservation.ResourceId].Type == ResourceType.Bedroom);
        }
        isInitialized = true;
    }

    private async Task Submit(UpdateOrderRequest request)
    {
        var isUpdatingCalendar = request.CancelledReservations.Count > 0;
        var url = $"my-orders/{order!.Id}";
        var maybe = await ApiClient.PatchJsonAsync<OrderResponse<MyOrder>>(url, request);
        if (maybe.TryGetValue(out var response) && response.Order != null)
        {
            if (isUpdatingCalendar)
                ClientDataProvider.Refresh();
            if (response.IsUserDeleted)
            {
                AuthenticationStateProvider.UpdateUser(AuthenticatedUser.UnknownUser);
                NavigationManager.NavigateTo(string.Empty);
            }
            order = response.Order;
        }
        else
            showErrorAlert = true;
    }

    private void DismissErrorAlert() => showErrorAlert = false;
}