@page  "/bruger/kontoudtog"
<PageTitle>Kontoudtog - Frederikskaj 2 lokalereservation</PageTitle>
<main>
    @if (!isInitialized)
    {
        <Spinner />
    }
    else if (transactions is null)
    {
        <Container>
            <Alert Color="Color.Danger" Visible="true">
                Der er i øjeblikket driftsproblemer. Prøv igen om lidt.
            </Alert>
        </Container>
    }
    else
    {
        <Container>
            <h1>Kontoudtog</h1>
            @if (!transactions.Transactions.Any())
            {
                <Paragraph>Der er intet at vise.</Paragraph>
            }
            else
            {
                if (balance < Amount.Zero)
                {
                    <Paragraph>Du mangler at indbetale. Bemærk at der går noget tid fra du indbetaler til beløbet bliver registeret. Hvis du allerede har indbetalt kan du se bort fra denne besked.</Paragraph>
                    <PaymentInstructions PaymentInformation="transactions.Payment" UserId="@userId" />
                }
                else if (balance > Amount.Zero)
                {
                    <Paragraph>Du har @Formatter.FormatMoneyLong(balance) til gode. Beløbet vil blive udbetalt til din bankkonto næste gang vi udbetaler. Bemærk at det typisk kun sker en gang om måneden.</Paragraph>
                }
                var currentBalance = Amount.Zero;
                <Table>
                    <TableHeader>
                        <TableRow>
                            <TableHeaderCell>Dato</TableHeaderCell>
                            <TableHeaderCell>Tekst</TableHeaderCell>
                            <TableHeaderCell class="text-right">Beløb</TableHeaderCell>
                            <TableHeaderCell class="text-right">Saldo</TableHeaderCell>
                        </TableRow>
                    </TableHeader>
                    <TableBody>
                        @{
                            foreach (var transaction in transactions!.Transactions)
                            {
                                currentBalance += transaction.Amount;
                                var localBalance = currentBalance;
                                <TableRow>
                                    <TableRowCell>@Formatter.FormatDate(transaction.Date)</TableRowCell>
                                    <TableRowCell>
                                        @switch (transaction.Activity)
                                        {
                                            case Activity.PlaceOrder:
                                                <a href="@Urls.MyOrders/@transaction.OrderId">Oprettelse af bestilling @transaction.OrderId</a>
                                                break;
                                            case Activity.UpdateOrder or Activity.SettleReservation:
                                                <a href="@Urls.MyOrders/@transaction.OrderId">@transaction.Description</a>
                                                break;
                                            case Activity.PayIn:
                                                @:Indbetaling
                                                break;
                                            case Activity.PayOut:
                                                @:Udbetaling
                                                break;
                                            case Activity.Reimburse:
                                                @:Godtgørelse: @transaction.Description
                                                break;
                                            default:
                                                @:Ukendt
                                                break;
                                        }
                                    </TableRowCell>
                                    <TableRowCell class="text-right">@Formatter.FormatMoneyShort(transaction.Amount)</TableRowCell>
                                    <TableRowCell class="text-right">@Formatter.FormatMoneyShort(localBalance)</TableRowCell>
                                </TableRow>
                            }
                        }
                    </TableBody>
                    <TableFooter>
                        <TableRow>
                            <TableRowCell ColumnSpan="4" Class="text-right"><a id="total"><strong>@Formatter.FormatMoneyShort(currentBalance)</strong></a></TableRowCell>
                        </TableRow>
                    </TableFooter>
                </Table>
                <Paragraph class="text-right">Alle beløb er i kr.</Paragraph>
            }
        </Container>
    }
</main>
