@page "/bruger"
@attribute [Authorize]
@inject ApiClient ApiClient

<main>
    @if (!isInitialized)
    {
        <Spinner />
    }
    else
    {
        <Container>
            <Alert Color="Color.Danger" Visible="@showErrorAlert" Dismisable="true">
                Der er sket en fejl.
                <CloseButton Clicked="@DismissErrorAlert" />
            </Alert>
            @if (user != null)
            {
                <UserInformation User="@user" />
                <UserUpdatePassword />
                <Card Background="Background.Light">
                    <CardHeader>
                        <CardTitle Size="1">Kontoudtog</CardTitle>
                    </CardHeader>
                    <CardBody>
                        <div class="button-row">
                            <a class="btn btn-secondary btn-fixed" href="@Urls.MyTransactions">Kontoudtog</a>
                        </div>
                    </CardBody>
                </Card>
                <UserDelete User="@user" />
            }
        </Container>
    }
</main>

@code {

    private bool isInitialized;
    private MyUser? user;
    private bool showErrorAlert;

    protected override async Task OnInitializedAsync()
    {
        var maybe = await ApiClient.GetJsonAsync<MyUser>("user");
        if (maybe.TryGetValue(out var myUser) && !string.IsNullOrEmpty(myUser.Email))
            user = myUser;
        else
            showErrorAlert = true;
        isInitialized = true;
    }

    private void DismissErrorAlert() => showErrorAlert = false;
}
