@page "/bruger"
@attribute [Authorize]
@inject ApiClient ApiClient

<main>
    @if (!isInitialized)
    {
        <Spinner />
    }
    else
    {
        <Container>
            <Alert Color="Color.Danger" Visible="@showErrorAlert" Dismisable="true">
                Der er sket en fejl.
                <CloseButton Clicked="@DismissErrorAlert" />
            </Alert>
            @if (user != null)
            {
                <UserInformation User="@user" />
                <UserUpdatePassword />
                @if (user.Roles.Contains(Roles.OrderHandling) || user.Roles.Contains(Roles.Payment) || user.Roles.Contains(Roles.Settlement) || user.Roles.Contains(Roles.Cleaning))
                {
                    <UserEmailSubscriptions User="@user" />
                }
                <Card Background="Background.Light">
                    <CardHeader>
                        <CardTitle Size="1">Kontoudtog</CardTitle>
                    </CardHeader>
                    <CardBody>
                        <div class="button-row">
                            <a class="btn btn-secondary btn-fixed" href="@Urls.MyTransactions">Kontoudtog</a>
                        </div>
                    </CardBody>
                </Card>
                <UserDelete User="@user" />
            }
        </Container>
    }
</main>

@code
{
    private bool isInitialized;
    private MyUser? user;
    private bool showErrorAlert;

    protected override async Task OnInitializedAsync()
    {
        var (response, problem) = await ApiClient.Get<MyUser>("user");
        if (problem == null && !string.IsNullOrEmpty(response!.Email))
            user = response;
        else
            showErrorAlert = true;
        isInitialized = true;
    }

    private void DismissErrorAlert() => showErrorAlert = false;
}
