@page "/ny-adgangskode"
<PageTitle>Ny adgangskode - Frederikskaj 2 lokalereservation</PageTitle>
<main>
    @if (!isInitialized)
    {
        <Spinner/>
    }
    else
    {
        <Container class="container-max-sm">
            @if (showLinkAlert)
            {
                <Alert Color="Color.Danger" Visible="true">
                    Dit link til at oprette en ny adgangskode er ikke gyldigt.
                </Alert>
            }
            else
            {
                <Alert Color="Color.Danger" Visible="@showSendMailErrorAlert" Dismisable="true">
                    Der er sket en fejl, og din mail til at oprette en ny adgangskode er ikke blevet sendt.
                    <CloseButton Clicked="@DismissSendMailAlerts"/>
                </Alert>
                <Alert Color="Color.Success" Visible="@showSendMailSuccessAlert" Dismisable="true">
                    Vi har sendt en mail til @SignInState.Email, som du kan bruge til at oprette en ny adgangskode.
                    <CloseButton Clicked="@DismissSendMailAlerts"/>
                </Alert>
                <Alert Color="Color.Success" Visible="@showSuccessAlert">
                    Din adgangskode er blevet ændret. <a href="@Urls.SignIn">Log ind</a> for at reservere et lokale.
                </Alert>
                <Alert Color="Color.Danger" Visible="@showErrorAlert" Dismisable="true">
                    @if (error == NewPasswordError.TokenExpired)
                    {
                        <text>Din mail til at oprette en ny adgangskode er for gammel, og din adgangskode blev ikke ændret. Vi kan sende en ny mail til @SignInState.Email.</text>
                        <div class="alert-button-container">
                            <Button Color="Color.Primary" Class="btn-fixed" Clicked="@SendEmail">Send mail</Button>
                        </div>
                    }
                    else
                    {
                        <PasswordErrors
                            GeneralError="@(error == NewPasswordError.Unknown || error == NewPasswordError.InvalidRequest)"
                            TooShortPassword="error == NewPasswordError.TooShortPassword"
                            ExposedPassword="error == NewPasswordError.ExposedPassword"
                            EmailSameAsPassword="error == NewPasswordError.EmailSameAsPassword"/>
                        <span>Din adgangskode blev ikke ændret.</span>
                    }
                    <CloseButton Clicked="@DismissErrorAlert"/>
                </Alert>
                <Form>
                    <Validations @ref="validations" Mode="ValidationMode.Manual">
                        <Field Horizontal="true">
                            <FieldLabel ColumnSize="ColumnSize.Is4">Ny adgangskode</FieldLabel>
                            <FieldBody ColumnSize="ColumnSize.Is8">
                                <Validation Validator="@(e => Validator.ValidatePassword(e, "Du skal vælge en ny adgangskode"))">
                                    <TextEdit Role="TextRole.Password" @bind-Text="request.NewPassword" autocomplete="new-password" Disabled="@isDisabled">
                                        <Feedback>
                                            <ValidationError/>
                                        </Feedback>
                                    </TextEdit>
                                </Validation>
                            </FieldBody>
                        </Field>
                        <Field Horizontal="true">
                            <FieldLabel ColumnSize="ColumnSize.Is4">Gentag adgangskode</FieldLabel>
                            <FieldBody ColumnSize="ColumnSize.Is8">
                                <Validation Validator="@ValidateConfirmNewPassword">
                                    <TextEdit Role="TextRole.Password" autocomplete="new-password" Disabled="@isDisabled">
                                        <Feedback>
                                            <ValidationError>Den nye adgangskode er ikke den samme</ValidationError>
                                        </Feedback>
                                    </TextEdit>
                                </Validation>
                            </FieldBody>
                        </Field>
                        <Button Color="Color.Primary" Type="ButtonType.Submit" PreventDefaultOnSubmit="true" Clicked="@SubmitAsync" class="btn-text" Disabled="@isDisabled">Opret ny adgangskode</Button>
                    </Validations>
                </Form>
            }
        </Container>
    }
</main>
