@page "/bestillinger"
@attribute [Authorize(Roles = Roles.Administrator)]
@inject ApiClient ApiClient
@inject FormattingService FormattingService

<main>
    @if (!isInitialized)
    {
        <Spinner />
    }
    else
    {
        <Container>
            <Alert Color="Color.Danger" Visible="@showGeneralErrorAlert" Dismisable="true">
                Der er sket en fejl, og din ændring blev ikke gemt.
                <CloseButton Clicked="@DismissShowGeneralErrorAlert" />
            </Alert>
            <Table>
                <TableHeader>
                    <TableRow>
                        <TableHeaderCell>Betilling</TableHeaderCell>
                        <TableHeaderCell>Dato</TableHeaderCell>
                        <TableHeaderCell>Mail</TableHeaderCell>
                        <TableHeaderCell>Navn</TableHeaderCell>
                        <TableHeaderCell>Telefon</TableHeaderCell>
                        <TableHeaderCell>Konto</TableHeaderCell>
                        <TableHeaderCell></TableHeaderCell>
                    </TableRow>
                </TableHeader>
                <TableBody>
                    @foreach (var order in orders!)
                    {
                        <TableRow @key="@order.Id">
                            <TableRowCell>@order.Id</TableRowCell>
                            <TableRowCell>@FormattingService.FormatDate(order.CreatedTimestamp)</TableRowCell>
                            <TableRowCell>@order.Mail</TableRowCell>
                            <TableRowCell>@order.FullName</TableRowCell>
                            <TableRowCell>@order.Phone</TableRowCell>
                            <TableRowCell>@order.AccountNumber</TableRowCell>
                            <TableRowCell>
                                <Dropdown>
                                    <DropdownToggle Color="Color.Light" />
                                    <DropdownMenu>
                                        <DropdownItem Clicked="@(() => Edit(order))">Redigér</DropdownItem>
                                    </DropdownMenu>
                                </Dropdown>
                            </TableRowCell>
                        </TableRow>
                    }
                </TableBody>
            </Table>
        </Container>
    }
</main>

@code {

    private bool isInitialized;
    private List<Order>? orders;
    private bool showGeneralErrorAlert;

    protected override async Task OnInitializedAsync()
    {
        var maybe = await ApiClient.GetJsonAsync<IEnumerable<Order>>("orders");
        orders = maybe.TryGetValue(out var response) ? response.ToList() : new List<Order>();
        isInitialized = true;
    }

    private void Edit(Order order)
    {
    }

    private void DismissShowGeneralErrorAlert() => showGeneralErrorAlert = false;
}
