@page "/ejer/kalender"
<PageTitle>Ejerkalender - Frederikskaj 2 lokalereservation</PageTitle>
@if (!isInitialized)
{
    <main>
        <Spinner/>
    </main>
}
else if (reservedDays is null)
{
    <main>
        <Container>
            <Alert Color="Color.Danger" Visible="true">
                Der er i øjeblikket driftsproblemer. Prøv igen om lidt.
            </Alert>
        </Container>
    </main>
}
else
{
    <main>
        <Calendar
            Options="@options"
            Resources="@resources"
            ReservedDays="@reservedDays"
            IsResourceAvailable="@((_, reservedDays, today, date) => IsResourceAvailable(reservedDays, today, date))"
            OnMakeReservation="@MakeReservation"
            LegendTheirReservations="Beboerreservationer"
            LegendOurReservations="Ejerreservationer"
            LinkToOrders="true"/>
    </main>
    <Sidebar
        ShowPrices="false"
        OnCheckout="@Checkout"/>
    <ReservationDialog
        @ref="@reservationDialog"
        Order="@DraftOrder"
        OnCancel="@CancelReservation"
        OnConfirm="@ConfirmReservation"/>
}
