@page "/til-udbetaling/{userId:int}"
<PageTitle>@(creditor is not null ? $"Udbetaling til {creditor.UserInformation.FullName} - " : "")Frederikskaj 2 lokalereservation</PageTitle>
<main>
    @if (!isInitialized)
    {
        <Spinner/>
    }
    else if (notFound)
    {
        <Container>
            <Alert Color="Color.Warning" Visible="true">
                Udbetalingen findes ikke.
            </Alert>
        </Container>
    }
    else if (creditor is null || transactions is null)
    {
        <Container>
            <Alert Color="Color.Danger" Visible="true">
                Der er i øjeblikket driftsproblemer. Prøv igen om lidt.
            </Alert>
        </Container>
    }
    else
    {
        <Container class="container-min-lg">
            <Alert Color="Color.Success" Visible="@showSuccessAlert" Dismisable="true">
                Udbetalingen er registreret. <a href="@Urls.PayOuts">Vis øvrige udbetalinger.</a>
                <CloseButton Clicked="@DismissSuccessAlert"/>
            </Alert>
            <Alert Color="Color.Danger" Visible="@showErrorAlert" Dismisable="true">
                Der er sket en fejl, og udbetalingen blev ikke registreret.
                <CloseButton Clicked="@DismissErrorAlert"/>
            </Alert>
            <Card Background="Background.Light">
                <CardHeader>
                    <CardTitle Size="1">Udbetaling til @creditor.UserInformation.FullName <span class="payment-id">@creditor.PaymentId</span></CardTitle>
                </CardHeader>
                <CardBody>
                    <Validations @ref="validations" Mode="ValidationMode.Manual">
                        <DateEditor @bind-Date="@date"/>
                        <AmountEditor @ref="amountEditor" @bind-Value="@amount" MaximumValue="@maximumAmount" AutoFocus="true"/>
                        <Button Color="Color.Primary" Type="ButtonType.Submit" Class="btn-fixed float-right" PreventDefaultOnSubmit="true" Clicked="@PayOutAsync" Disabled="@(amount <= 0)">Registrér udbetaling</Button>
                    </Validations>
                </CardBody>
            </Card>
            <Card Background="Background.Light">
                <CardHeader>
                    <CardTitle Size="1">Kontoudtog</CardTitle>
                </CardHeader>
                <CardBody>
                    <UserTransactions Transactions="transactions.Transactions" />
                </CardBody>
            </Card>
        </Container>
    }
</main>
