@page "/posteringer"
<PageTitle>Bogføring @(currentYear is not 0 ? $"{currentYear:0000}-{currentMonth:00} " : "")- Frederikskaj 2 lokalereservation</PageTitle>
<main>
    @if (!isInitialized)
    {
        <Spinner/>
    }
    else if (postings is null)
    {
        <Container>
            <Alert Color="Color.Danger" Visible="true">
                Der er i øjeblikket driftsproblemer. Prøv igen om lidt.
            </Alert>
        </Container>
    }
    else
    {
        var hasPostings = postings.Any();
        <Container>
            <Alert Color="Color.Success" Visible="@showSuccessAlert" Dismisable="true">
                Posteringerne er blevet sendt til @email.
                <CloseButton Clicked="@DismissSuccessAlert"/>
            </Alert>
            <Alert Color="Color.Danger" Visible="@showErrorAlert" Dismisable="true">
                Der er sket en fejl, og posteringerne blev ikke sendt til @email.
                <CloseButton Clicked="@DismissErrorAlert"/>
            </Alert>
            <h1>Posteringer</h1>
            @if (postingsRange != null)
            {
                <Form>
                    <Row>
                        <Column ColumnSize="ColumnSize.IsThird">
                            <Field>
                                <FieldLabel>År</FieldLabel>
                                <FieldBody>
                                    <Select TValue="int" SelectedValue="@currentYear" SelectedValueChanged="@YearChanged">
                                        @foreach (var year in years!)
                                        {
                                            <SelectItem Value="@year">@year</SelectItem>
                                        }
                                    </Select>
                                </FieldBody>
                            </Field>
                        </Column>
                        <Column ColumnSize="ColumnSize.IsThird">
                            <Field>
                                <FieldLabel>Måned</FieldLabel>
                                <FieldBody>
                                    <Select TValue="int" SelectedValue="@currentMonth" SelectedValueChanged="@MonthChanged">
                                        @foreach (var month in months!)
                                        {
                                            <SelectItem Value="@month">@Capitalize(monthPattern!.Format(new LocalDate(currentYear, month, 1)))</SelectItem>
                                        }
                                    </Select>
                                </FieldBody>
                            </Field>
                        </Column>
                        <Column ColumnSize="ColumnSize.IsThird">
                            <Field>
                                <FieldBody>
                                    <Button Style="margin-top: 2rem;" Color="Color.Secondary" Type="ButtonType.Submit" Block="true" PreventDefaultOnSubmit="true" Disabled="!hasPostings" Clicked="@Send">Send posteringer som mail</Button>
                                </FieldBody>
                            </Field>
                        </Column>
                    </Row>
                </Form>
            }
            @if (!hasPostings)
            {
                <Paragraph>Der er intet at vise.</Paragraph>
            }
            else
            {
                <Table>
                    <TableHeader>
                        <TableRow>
                            <TableHeaderCell>Dato</TableHeaderCell>
                            <TableHeaderCell>Beskrivelse</TableHeaderCell>
                            <TableHeaderCell>Konto</TableHeaderCell>
                            <TableHeaderCell Class="text-right">Debet</TableHeaderCell>
                            <TableHeaderCell Class="text-right">Kredit</TableHeaderCell>
                        </TableRow>
                    </TableHeader>
                    <TableBody>
                        @foreach (var posting in postings!)
                        {
                            var amounts = posting.Amounts.ToArray();
                            for (var i = 0; i < amounts.Length; i += 1)
                            {
                                var (account, amount) = amounts[i];
                                var isFirstRow = i == 0;
                                var isLastRow = i == amounts.Length - 1;
                                <TableRow Class="@(isLastRow ? "border-bottom" : "")">
                                    @if (isFirstRow)
                                    {
                                        <TableRowCell>@Formatter.FormatDate(posting.Date)</TableRowCell>
                                        <TableRowCell>
                                            @if (posting.Activity is Activity.PlaceOrder || posting.Activity is Activity.PayIn && posting.OrderId.HasValue)
                                            {
                                                <a href="@Urls.Orders/@posting.OrderId">Oprettelse af bestilling @posting.OrderId (@posting.FullName <span class="payment-id">@posting.PaymentId</span>)</a>
                                            }
                                            else if (posting.Activity is Activity.UpdateOrder)
                                            {
                                                <a href="@Urls.Orders/@posting.OrderId">Ændring af bestilling @posting.OrderId (@posting.FullName <span class="payment-id">@posting.PaymentId</span>)</a>
                                            }
                                            else if (posting.Activity is Activity.SettleReservation)
                                            {
                                                <a href="@Urls.Orders/@posting.OrderId">Opgørelse af reservation på bestilling @posting.OrderId (@posting.FullName <span class="payment-id">@posting.PaymentId</span>)</a>
                                            }
                                            else if (posting.Activity is Activity.PayIn)
                                            {
                                                <a href="@string.Format(Urls.UsersTransactionsSpecific, posting.UserId, posting.TransactionId)">Indbetaling fra @posting.FullName <span class="payment-id">@posting.PaymentId</span></a>
                                            }
                                            else if (posting.Activity is Activity.PayOut)
                                            {
                                                <a href="@string.Format(Urls.UsersTransactionsSpecific, posting.UserId, posting.TransactionId)">Udbetaling til @posting.FullName <span class="payment-id">@posting.PaymentId</span></a>
                                            }
                                            else if (posting.Activity is Activity.Reimburse)
                                            {
                                                <a href="@string.Format(Urls.UsersTransactionsSpecific, posting.UserId, posting.TransactionId)">Godtgørelse af @posting.FullName <span class="payment-id">@posting.PaymentId</span></a>
                                            }
                                            else
                                            {
                                                <text>Ukendt</text>
                                            }
                                        </TableRowCell>
                                    }
                                    else
                                    {
                                        <TableRowCell Class="border-top-0" ColumnSpan="2"/>
                                    }
                                    <TableRowCell>@accountNames![account]</TableRowCell>
                                    <TableRowCell Class="text-right">
                                        <DebitCredit Amount="@amount"/>
                                    </TableRowCell>
                                    <TableRowCell Class="text-right">
                                        <DebitCredit Amount="@(-amount)"/>
                                    </TableRowCell>
                                </TableRow>
                            }
                        }
                    </TableBody>
                </Table>
            }
        </Container>
    }
</main>
