@page "/anmod-om-ny-adgangskode"
<PageTitle>Anmod om ny adgangskode - Frederikskaj 2 lokalereservation</PageTitle>
<main>
    <Container class="container-max-sm">
        <Alert Color="Color.Success" Visible="@showSuccessAlert" Dismisable="true">
            Vi har sendt dig en mail du kan bruge til at oprette en ny adgangskode hvis du i forvejen er oprettet som bruger.
            <CloseButton Clicked="@DismissSuccessAlert"/>
        </Alert>
        <Alert Color="Color.Danger" Visible="@showErrorAlert" Dismisable="true">
            Der er sket en fejl, og din mail til at oprette en ny adgangskode er ikke blevet sendt.
            <CloseButton Clicked="@DismissErrorAlert"/>
        </Alert>
        <Paragraph>Vi kan sende dig en mail, så du kan få en ny adgangskode.</Paragraph>
        <Form>
            <Validations @ref="validations" Mode="ValidationMode.Manual">
                <EmailEditor @ref="emailEditor" @bind-Value="@SignInState.Email" Disabled="@isDisabled"/>
                <Button Color="Color.Primary" Type="ButtonType.Submit" PreventDefaultOnSubmit="true" Clicked="@SendEmailAsync">Send mail</Button>
            </Validations>
        </Form>
    </Container>
</main>
