@model OrderReceivedModel
@inject CultureInfo CultureInfo
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">
<head>
    <title>Bestilling modtaget</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 " />
    <style>
    </style>
</head>
<body>
    <p>Hej @Model.Name</p>
    <p>Tak for din <a href="@Model.Url">bestilling med bestillingsnummer @Model.OrderId</a>.</p>
    <p>Din bestilling bliver først godkendt når du har indbetalt det skyldige beløb til grundejerforeningens bankkonto:</p>
    <p>
        <table>
            <tbody>
                <tr>
                    <td>Beløb:</td>
                    <td>@Model.Amount.ToString("C0", CultureInfo)</td>
                </tr>
                <tr>
                    <td>Kontonummer:</td>
                    <td>@Model.AccountNumber</td>
                </tr>
                <tr>
                    <td>Tekst på indbetaling:</td>
                    <td>Bestilling @Model.OrderId</td>
                </tr>
            </tbody>
        </table>
    </p>
    <p>Du bedes straks indbetale det skyldige beløb, og ellers forbeholder vi os ret til at annullere din bestilling.</p>
    @await Html.PartialAsync("_Signature", Model)
    @await Html.PartialAsync("_Links", Model)
</body>