@model OrderReceivedModel
@inject CultureInfo CultureInfo
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">
<head>
    <title>Bestilling modtaget</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 " />
</head>
<body>
    <p>Hej @Model.Name</p>
    <p>Tak for din bestilling med <a href="@Model.Url">bestillingsnr. @Model.OrderId</a>.</p>
@if (Model.PrepaidAmount == Model.Amount)
{
    <p>Da du tidligere har indbetalt et beløb som dækker prisen for denne bestilling er din bestilling godkendt og betalt, og du behøver ikke at foretage dig yderligere.</p>
}
else
{
    if (Model.PrepaidAmount > 0)
    {
    <p>Da du afgav din bestilling havde du @Model.PrepaidAmount.ToString("C0", CultureInfo) til gode, og du behøver derfor kun at betale forskellen mellem den fulde pris på @Model.Amount.ToString("C0", CultureInfo) og beløbet du har til gode.</p>
    }
    <p>Din bestilling bliver først godkendt når du har indbetalt det skyldige beløb til grundejerforeningens bankkonto:</p>
    <p>
        <table>
            <tbody>
                <tr>
                    <td>Beløb:</td>
                    <td><strong>@((Model.Amount - Model.PrepaidAmount).ToString("C0", CultureInfo))</strong></td>
                </tr>
                <tr>
                    <td>Kontonummer:</td>
                    <td><strong>@Model.AccountNumber</strong></td>
                </tr>
                <tr>
                    <td>Tekst på indbetaling:</td>
                    <td><strong>Bestilling @Model.OrderId</strong></td>
                </tr>
            </tbody>
        </table>
    </p>
    <p>Du bedes <strong>inden fire dage</strong> indbetale det skyldige beløb. Ellers forbeholder vi os ret til at annullere din bestilling.</p>
}
    @await Html.PartialAsync("_Signature", Model)
    @await Html.PartialAsync("_Links", Model)
</body>