@using Frederikskaj2.Reservations.Orders
@inherits MessageComponentBase<RoomEntryCodeDto>
<!DOCTYPE html>
<html lang="da">
<head>
    <title>Adgangskode til @Resources.GetNameUnsafe(Model.Data.ResourceId) den @Model.FormatShortDate(Model.Data.Date)</title>
    <HeaderMetas/>
</head>
<body>
    <Greetings Model="Model"/>
    <p>Her er den adgangskode du skal bruge for at få adgang til <strong>@Resources.GetNameUnsafe(Model.Data.ResourceId)</strong> den @Model.FormatShortDate(Model.Data.Date):</p>
    <p><strong>@Model.Data.EntryCode</strong></p>
    <p>Låse op: Indtast adgangskoden på tastaturet og tryk på pilen.</p>
    <p>Låse af: Løft dørhåndtaget op og tryk dernæst på pilen på tastaturet.</p>
    <p>Der er WiFi i fælleshuset:</p>
    <ul>
        <li>Navn: <strong>Frederikskaj</strong></li>
        <li>Kode: <strong>FrederikkeOgKaja2</strong></li>
    </ul>
    <p>Det er <strong>vigtigt</strong> at du overholder den <a href="@Model.GetRulesUrl(Model.Data.ResourceId)">husorden</a> der gælder for brug lokalet.</p>
    <Regards Model="Model"/>
    <ResidentOrderFooter Model="Model" OrderId="Model.Data.OrderId"/>
</body>
</html>