<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">
<head>
    <title>Udbetaling</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 " />
</head>
<body>
    <p>Hej @Model.Data.FullName</p>
    <p>Vi har udbetalt @Model.FormatAmount(Model.Data.Amount) til den bankkonto du oplyste da du afgav din seneste bestilling.</p>
    <p><strong>Bemærk:</strong> Der kan gå nogle dage før pengene er til rådighed på din konto.</p>
    <p><em>(Dette er en automatisk udsendt besked som ikke skal besvares.)</em></p>
    <p>Med venlig hilsen<br />@Model.From<br /><a href="@Model.FromUrl">@Model.FromUrl</a></p>
    <p><a href="@Model.GetUrl(Urls.MyOrders)" />Dine bestillinger</a> • <a href="@Model.GetUrl(Urls.MyTransactions)" />Dit kontoudtog</a> • <a href="@Model.GetUrl(Urls.MyAccount)" />Din konto</a></p>
</body>
