@using Frederikskaj2.Reservations.Shared.Core
<div>
    <Modal @ref="@modal" Closed="@OnModalClosed">
        <Form>
            <Validations @ref="validations" Mode="ValidationMode.Manual">
                <ModalContent>
                    <ModalHeader>
                        <ModalTitle>
                            Indbetaling
                        </ModalTitle>
                        <CloseButton Clicked="@Cancel"/>
                    </ModalHeader>
                    <ModalBody>
                        <DebtorEditor @ref="debtorEditor" Value="@selectedDebtor" Debtors="@Debtors" ValueChanged="DebtorChanged"/>
                        <DateEditor @ref="dateEditor" @bind-Date="@date"/>
                        @if (!IsDebitHidden)
                        {
                            <Field Horizontal="true">
                                <FieldLabel ColumnSize="ColumnSize.Is4">Gæld</FieldLabel>
                                <FieldBody Class="debt-container" ColumnSize="ColumnSize.Is8">
                                    @if (selectedDebtor is not null)
                                    {
                                        if (selectedDebtor.Amount > Amount.Zero)
                                        {
                                            <Blazorise.Link Class="debt" Clicked="SetAmount">@Formatter.FormatMoneyLong(selectedDebtor.Amount)</Blazorise.Link>
                                        }
                                        else
                                        {
                                            <span class="debt">@Formatter.FormatMoneyLong(Amount.Zero)</span>
                                        }
                                    }
                                </FieldBody>
                            </Field>
                        }
                        <AmountEditor @bind-Value="@amount"/>
                    </ModalBody>
                    <ModalFooter>
                        <Button Color="Color.Primary" Type="ButtonType.Submit" PreventDefaultOnSubmit="true" Clicked="@ConfirmAsync" Disabled="@(amount <= 0)">Registrér indbetaling</Button>
                        <Button Color="Color.Secondary" Clicked="@Cancel">Annullér</Button>
                    </ModalFooter>
                </ModalContent>
            </Validations>
        </Form>
    </Modal>
</div>
