<Modal @ref="@modal" Closed="@OnModalClosed">
    <Form>
        <Validations @ref="validations" Mode="ValidationMode.Manual">
            <ModalContent>
                <ModalHeader>
                    <ModalTitle>
                        Udbetaling til @fullName
                    </ModalTitle>
                    <CloseButton Clicked="@Cancel"/>
                </ModalHeader>
                <ModalBody>
                    <DateEditor @bind-Date="@date" />
                    <AmountEditor @ref="amountEditor" @bind-Value="@amount" MaximumValue="@maximumAmount" AutoFocus="true" />
                </ModalBody>
                <ModalFooter>
                    <Button Color="Color.Primary" Type="ButtonType.Submit" PreventDefaultOnSubmit="true" Clicked="@ConfirmAsync" Disabled="@(amount <= 0)">Registrér udbetaling</Button>
                    <Button Color="Color.Secondary" Clicked="@Cancel">Annullér</Button>
                </ModalFooter>
            </ModalContent>
        </Validations>
    </Form>
</Modal>
