@page "/til-udbetaling"
<PageTitle>Udbetaling - Frederikskaj 2 lokalereservation</PageTitle>
<main>
    @if (!isInitialized)
    {
        <Spinner/>
    }
    else if (apartments is not null && creditors is not null && inProgressPayOuts is not null && otherPayOuts is not null)
    {
        <Container>
            <Alert Color="Color.Success" Visible="showSuccessAlert" Dismisable="true">
                Udbetalingen er blevet opdateret.
                <CloseButton Clicked="DismissSuccessAlert"/>
            </Alert>
            <Alert Color="Color.Danger" Visible="showErrorAlert" Dismisable="true">
                Der er sket en fejl, og udbetalingen blev ikke opdateret.
                <CloseButton Clicked="DismissErrorAlert"/>
            </Alert>
            <h1>Udbetaling</h1>
            <h2>Til udbetaling</h2>
            @if (!creditors.Any())
            {
                <Paragraph>Der er intet at vise.</Paragraph>
            }
            else
            {
                <Paragraph>Disse beboere har penge til gode som skal udbetales til dem.</Paragraph>
                <Table>
                    <TableHeader>
                        <TableRow>
                            <TableHeaderCell>Navn</TableHeaderCell>
                            <TableHeaderCell>Adresse</TableHeaderCell>
                            <TableHeaderCell>Mail</TableHeaderCell>
                            <TableHeaderCell>Telefon</TableHeaderCell>
                            <TableHeaderCell>Kontonummer</TableHeaderCell>
                            <TableHeaderCell Class="text-end">Beløb</TableHeaderCell>
                            <TableHeaderCell></TableHeaderCell>
                        </TableRow>
                    </TableHeader>
                    <TableBody>
                        @foreach (var creditor in creditors)
                        {
                            <TableRow @key="creditor.UserInformation.UserId">
                                <TableRowCell>
                                    <a href="@string.Format(UrlPath.UsersTransactions, creditor.UserInformation.UserId)">@creditor.UserInformation.FullName</a>
                                    <span class="payment-id">@creditor.Payment.PaymentId</span>
                                </TableRowCell>
                                <TableRowCell>
                                    @(creditor.UserInformation.ApartmentId.HasValue ? apartments![creditor.UserInformation.ApartmentId.Value] : "")
                                </TableRowCell>
                                <TableRowCell>
                                    <a href="mailto:@creditor.UserInformation.Email?subject=Frederikskaj 2 lokaler">
                                        @Formatter.FormatEmail(creditor.UserInformation.Email)
                                    </a>
                                </TableRowCell>
                                <TableRowCell>@Formatter.FormatPhone(creditor.UserInformation.Phone)</TableRowCell>
                                <TableRowCell>@creditor.Payment.AccountNumber</TableRowCell>
                                <TableRowCell Class="text-end">@Formatter.FormatMoneyShort(creditor.Payment.Amount)</TableRowCell>
                                <TableRowCell Class="text-end">
                                    <Button Color="Color.Light" Size="Size.Small" Clicked="() => RecordPayOut(creditor)">Registrér udbetaling</Button>
                                </TableRowCell>
                            </TableRow>
                        }
                    </TableBody>
                </Table>
            }
            <h2>Igangværende udbetalinger (ej afstemt)</h2>
            @if (!inProgressPayOuts.Any())
            {
                <Paragraph>Der er intet at vise.</Paragraph>
            }
            else
            {
                <Table>
                    <TableHeader>
                        <TableRow>
                            <TableHeaderCell Class="name-column">Navn</TableHeaderCell>
                            <TableHeaderCell Class="amount-column text-end">Beløb</TableHeaderCell>
                            <TableHeaderCell Class="age-or-status-column">Alder</TableHeaderCell>
                            <TableHeaderCell Class="button-column"></TableHeaderCell>
                        </TableRow>
                    </TableHeader>
                    <TableBody>
                        @foreach (var payOut in inProgressPayOuts)
                        {
                            <TableRow @key="payOut.PayOutId">
                                <TableRowCell>
                                    <a href="@string.Format(UrlPath.UsersTransactions, payOut.UserIdentity.UserId)">@payOut.UserIdentity.FullName</a>
                                    <span class="payment-id">@payOut.PaymentId</span>
                                </TableRowCell>
                                <TableRowCell Class="text-end">@Formatter.FormatMoneyShort(payOut.Amount)</TableRowCell>
                                <TableRowCell>
                                    @if (payOut.DelayedDays.HasValue)
                                    {
                                        <Icon Name="IconName.ExclamationTriangle" TextColor="TextColor.Danger"/>
                                        if (payOut.DelayedDays.Value is 1)
                                        {
                                            @:1 dag
                                        }
                                        else
                                        {
                                            @:@payOut.DelayedDays.Value dage
                                        }
                                    }
                                </TableRowCell>
                                <TableRowCell Class="text-end">
                                    <Button
                                        Color="@(payOut.DelayedDays.HasValue ? Color.Danger : Color.Light)"
                                        Size="Size.Small"
                                        Clicked="() => ShowPayOut(payOut)">
                                        Vis
                                    </Button>
                                </TableRowCell>
                            </TableRow>
                        }
                    </TableBody>
                </Table>
            }
            <h2>Afsluttede udbetalinger</h2>
            @if (!otherPayOuts.Any())
            {
                <Paragraph>Der er intet at vise.</Paragraph>
            }
            else
            {
                <Table>
                    <TableHeader>
                        <TableRow>
                            <TableHeaderCell Class="name-column">Navn</TableHeaderCell>
                            <TableHeaderCell Class="amount-column text-end">Beløb</TableHeaderCell>
                            <TableHeaderCell Class="age-or-status-column">Status</TableHeaderCell>
                            <TableHeaderCell Class="button-column"></TableHeaderCell>
                        </TableRow>
                    </TableHeader>
                    <TableBody>
                        @foreach (var payOut in otherPayOuts)
                        {
                            <TableRow @key="payOut.PayOutId">
                                <TableRowCell>
                                    <a href="@string.Format(UrlPath.UsersTransactions, payOut.UserIdentity.UserId)">@payOut.UserIdentity.FullName</a>
                                    <span class="payment-id">@payOut.PaymentId</span>
                                </TableRowCell>
                                <TableRowCell Class="text-end">@Formatter.FormatMoneyShort(payOut.Amount)</TableRowCell>
                                <TableRowCell>
                                    @if (payOut.Status is Reservations.Bank.PayOutStatus.Cancelled)
                                    {
                                        @:Annulleret
                                    }
                                    else if (payOut.Status is Reservations.Bank.PayOutStatus.Reconciled)
                                    {
                                        @:Afstemt
                                    }
                                    else
                                    {
                                        @:?
                                    }
                                </TableRowCell>
                                <TableRowCell Class="text-end">
                                    <Button Color="Color.Light" Size="Size.Small" Clicked="() => ShowPayOut(payOut)">Vis</Button>
                                </TableRowCell>
                            </TableRow>
                        }
                    </TableBody>
                </Table>
            }
        </Container>
    }
</main>
