@{
    var orderedResources = Model.Data.Resources.OrderBy(resource => resource.Sequence).ToArray();
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">
<head>
    <title>Nøglebokskoder</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 " />
</head>
<body>
    <p>Hej @Model.Data.FullName</p>
    <p>Her er de aktuelle nøglebokskoder for den kommende tid:</p>
    <table>
        <thead>
            <tr>
                <th style="padding: 8px; text-align: left; border-top: solid 1px #CCC; border-bottom: solid 2px #CCC; border-collapse: collapse">Uge</th>
                <th style="padding: 8px; text-align: left; border-top: solid 1px #CCC; border-bottom: solid 2px #CCC; border-collapse: collapse">Dato</th>
            @foreach (var resource in orderedResources)
            {
                <th colspan="2" style="padding: 8px; text-align: center; border-top: solid 1px #CCC; border-bottom: solid 2px #CCC; border-collapse: collapse">@resource.Name</th>
            }
            </tr>
        </thead>
        <tbody>
        @{
            @foreach (var weeklyLockBoxCodes in Model.Data.Codes)
            {
            <tr>
                <th style="padding: 8px; text-align: left; border-top: solid 1px #CCC; border-collapse: collapse">@weeklyLockBoxCodes.WeekNumber</th>
                <td style="padding: 8px; text-align: left; border-top: solid 1px #CCC; border-collapse: collapse">@Model.FormatShortDate(weeklyLockBoxCodes.Date)</td>
                @foreach (var resource in orderedResources)
                {
                    var code = weeklyLockBoxCodes.Codes!.FirstOrDefault(c => c.ResourceId == resource.ResourceId);
                    if (code is not null)
                    {
                <td style="padding: 8px; text-align: right; border-top: solid 1px #CCC; border-collapse: collapse">@code.Code</td>
                <td style="padding: 8px; text-align: left; border-top: solid 1px #CCC; border-collapse: collapse">@code.Difference</td>
                    }
                    else
                    {
                <td style="padding: 8px; text-align: right; border-top: solid 1px #CCC; border-collapse: collapse"></td>
                <td style="padding: 8px; text-align: left; border-top: solid 1px #CCC; border-collapse: collapse"></td>
                    }
                }
            </tr>
            }
        }
        </tbody>
    </table>
    <p>Med venlig hilsen<br />@Model.From<br /><a href="@Model.FromUrl">@Model.FromUrl</a></p>
    <p><a href="@Model.GetUrl(Urls.LockBoxCodes)">Nøglebokskoder</a> • <a href="@Model.GetUrl(Urls.MyAccount)">Din konto</a></p>
</body>
