<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">
<head>
    <title>Bestilling @Model.Data.OrderId</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 " />
</head>
<body>
    <p>Hej @Model.Data.FullName</p>
    <p>Brug af @Model.Data.ResourceName på <a href="@Model.Data.OrderUrl">bestilling @Model.Data.OrderId</a> sluttede @Model.FormatShortDate(Model.Data.Date), og der mangler nu en opgørelse.</p>
    <p>Med venlig hilsen<br />@Model.From<br /><a href="@Model.FromUrl">@Model.FromUrl</a></p>
    <p><a href="@Model.GetUrl(Urls.Orders)">Bestillinger</a> • <a href="@Model.GetUrl(Urls.MyAccount)">Din konto</a></p>
</body>
