<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">
<head>
    <title>Posteringer for @Model.FormatMonth(Model.Data.Month)</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 " />
</head>
<body>
    <p>Hej @Model.Data.FullName</p>
    <p>Her er posteringerne for @Model.FormatMonth(Model.Data.Month).</p>
    <table>
        <thead>
            <tr>
                <th style="padding: 8px; text-align: left; border-top: solid 1px #CCC; border-bottom: solid 2px #CCC; border-collapse: collapse">Dato</th>
                <th style="padding: 8px; text-align: left; border-top: solid 1px #CCC; border-bottom: solid 2px #CCC; border-collapse: collapse">Beskrivelse</th>
                <th style="padding: 8px; text-align: left; border-top: solid 1px #CCC; border-bottom: solid 2px #CCC; border-collapse: collapse">Konto</th>
                <th style="padding: 8px; text-align: right; border-top: solid 1px #CCC; border-bottom: solid 2px #CCC; border-collapse: collapse">Debet</th>
                <th style="padding: 8px; text-align: right; border-top: solid 1px #CCC; border-bottom: solid 2px #CCC; border-collapse: collapse">Kredit</th>
            </tr>
        </thead>
        <tbody>
        @{
            var accountNames = Model.Data.AccountNames.ToDictionary(accountName => accountName.Account, accountName => accountName.Name);
            foreach (var posting in Model.Data.Postings)
            {
                var amounts = posting.Amounts.ToArray();
                for (var i = 0; i < amounts.Length; i += 1)
                {
                    var (account, amount) = amounts[i];
                    var isFirstRow = i == 0;
                    var isLastRow = i == amounts.Length - 1;
            <tr>
                        @if (isFirstRow)
                        {
                <td style="padding: 8px; text-align: left; border-top: solid 1px #CCC; border-collapse: collapse">@Model.FormatSortableDate(posting.Date)</td>
                            @if (posting.Activity is Activity.PlaceOrder || posting.Activity is Activity.PayIn && posting.OrderId.HasValue)
                            {
                <td style="padding: 8px; text-align: left; border-top: solid 1px #CCC; border-collapse: collapse">Oprettelse af bestilling @posting.OrderId (@posting.FullName @posting.PaymentId)</td>
                            }
                            else if (posting.Activity is Activity.UpdateOrder)
                            {
                <td style="padding: 8px; text-align: left; border-top: solid 1px #CCC; border-collapse: collapse">Ændring af bestilling @posting.OrderId (@posting.FullName @posting.PaymentId)</td>
                            }
                            else if (posting.Activity is Activity.SettleReservation)
                            {
                <td style="padding: 8px; text-align: left; border-top: solid 1px #CCC; border-collapse: collapse">Opgørelse af reservation på bestilling @posting.OrderId (@posting.FullName @posting.PaymentId)</td>
                            }
                            else if (posting.Activity is Activity.PayIn)
                            {
                <td style="padding: 8px; text-align: left; border-top: solid 1px #CCC; border-collapse: collapse">Indbetaling fra @posting.FullName @posting.PaymentId</td>
                            }
                            else
                            {
                <td style="padding: 8px; text-align: left; border-top: solid 1px #CCC; border-collapse: collapse">Udbetaling til @posting.FullName @posting.PaymentId</td>
                            }
                        }
                        else
                        {
                <td colspan="2" style="padding: 8px; border-collapse: collapse@(isLastRow ? "; border-bottom: solid 2px #CCC" : "")"></td>
                        }
                <td style="padding: 8px; text-align: left; border-top: solid 1px #CCC; border-collapse: collapse@(isLastRow ? "; border-bottom: solid 2px #CCC" : "")">@accountNames![account]</td>
                <td style="padding: 8px; text-align: right; border-top: solid 1px #CCC; border-collapse: collapse@(isLastRow ? "; border-bottom: solid 2px #CCC" : "")">@Model.FormatMoney(amount)</td>
                <td style="padding: 8px; text-align: right; border-top: solid 1px #CCC; border-collapse: collapse@(isLastRow ? "; border-bottom: solid 2px #CCC" : "")">@Model.FormatMoney(-amount)</td>
            </tr>
                }
            }
        }
        </tbody>
    </table>
    <p><em>(Dette er en automatisk udsendt besked som ikke skal besvares.)</em></p>
    <p>Med venlig hilsen<br />@Model.From<br /><a href="@Model.FromUrl">@Model.FromUrl</a></p>
    <p><a href="@Model.GetUrl(Urls.Postings)">Posteringer</a> • <a href="@Model.GetUrl(Urls.MyAccount)">Din konto</a></p>
</body>
