@if (Items?.Any() ?? false)
{
    <Card Background="Background.Light">
        <CardHeader>
            <CardTitle Size="1">Tillæg og fradrag</CardTitle>
        </CardHeader>
        <CardBody>
            <Table>
                <TableHeader>
                    <TableRow>
                        <TableHeaderCell>Dato</TableHeaderCell>
                        <TableHeaderCell>Beskrivelse</TableHeaderCell>
                        <TableHeaderCell Class="text-end">Beløb</TableHeaderCell>
                    </TableRow>
                </TableHeader>
                <TableBody>
                    @foreach (var item in Items)
                    {
                        <TableRow>
                            <TableRowCell>@Formatter.FormatDate(item.Timestamp)</TableRowCell>
                            <TableRowCell>
                                @if (item.Type is LineItemType.CancellationFee)
                                {
                                    @:Afbestilling @GetReservationsDescription(item.CancellationFee!)
                                }
                                else if (item.Type is LineItemType.Damages)
                                {
                                    @:Fradrag @GetReservationDescription(item.Damages!.Reservation): @item.Damages.Description
                                }
                            </TableRowCell>
                            <TableRowCell Class="text-end">@Formatter.FormatMoneyLong(item.Amount)</TableRowCell>
                            <TableRowCell Class="border-0"/>
                        </TableRow>
                    }
                </TableBody>
            </Table>
        </CardBody>
    </Card>
}
