@page "/bruger/bestillinger"
<PageTitle>Bestillinger - Frederikskaj 2 lokalereservation</PageTitle>
<main>
    @if (!isInitialized)
    {
        <Spinner/>
    }
    else if (resources is null || orders is null)
    {
        <Container>
            <Alert Color="Color.Danger" Visible="true">
                Der er i øjeblikket driftsproblemer. Prøv igen om lidt.
            </Alert>
        </Container>
    }
    else
    {
        <Container class="container-min-md">
            @if (orders!.Any())
            {
                <h1>Aktuelle bestillinger</h1>
                <Table>
                    <TableHeader>
                        <TableRow>
                            <TableHeaderCell>Bestillingsnr.</TableHeaderCell>
                            <TableHeaderCell Class="order-table-resource-column">Lokale</TableHeaderCell>
                            <TableHeaderCell Class="order-table-date-column">Dato</TableHeaderCell>
                            <TableHeaderCell>Nætter</TableHeaderCell>
                            <TableHeaderCell Class="order-table-status-column">Status</TableHeaderCell>
                            <TableHeaderCell></TableHeaderCell>
                        </TableRow>
                    </TableHeader>
                    <TableBody>
                        @foreach (var order in orders!)
                        {
                            var reservations = order.Reservations.ToList();
                            for (var i = 0; i < reservations.Count; i += 1)
                            {
                                var isFirstReservation = i == 0;
                                var reservation = reservations[i];
                                <TableRow>
                                    <TableRowHeader Class="@(isFirstReservation ? "extra-border-top" : "border-top-0")">
                                        @(isFirstReservation ? order.OrderId.ToString() : "")
                                    </TableRowHeader>
                                    <TableRowCell Class="@(isFirstReservation ? "extra-border-top" : "")">
                                        @resources![reservation.ResourceId].Name
                                    </TableRowCell>
                                    <TableRowCell Class="@(isFirstReservation ? "extra-border-top" : "")">
                                        @Formatter.FormatDate(reservation.Extent.Date)
                                    </TableRowCell>
                                    <TableRowCell Class="@(isFirstReservation ? "extra-border-top" : "")">
                                        @reservation.Extent.Nights
                                    </TableRowCell>
                                    <TableRowCell Class="@(isFirstReservation ? "extra-border-top" : "")">
                                        @GetReservationStatus(reservation)
                                    </TableRowCell>
                                    <TableRowCell Class="@(isFirstReservation ? "extra-border-top" : "border-top-0")">
                                        @if (isFirstReservation)
                                        {
                                            <Button Color="Color.Light" Size="Size.Small" Class="btn-fixed float-end" Clicked="() => EditOrder(order)">
                                                @if (order.CanBeEdited)
                                                {
                                                    @:Redigér
                                                }
                                                else
                                                {
                                                    @:Vis
                                                }
                                            </Button>
                                        }
                                    </TableRowCell>
                                </TableRow>
                            }
                        }
                    </TableBody>
                </Table>
            }
            @if (historyOrders!.Any())
            {
                <h1>Tidligere bestillinger</h1>
                <Table>
                    <TableHeader>
                        <TableRow>
                            <TableHeaderCell>Bestillingsnr.</TableHeaderCell>
                            <TableHeaderCell Class="order-table-resource-column">Lokale</TableHeaderCell>
                            <TableHeaderCell Class="order-table-date-column">Dato</TableHeaderCell>
                            <TableHeaderCell>Nætter</TableHeaderCell>
                            <TableHeaderCell Class="order-table-status-column">Status</TableHeaderCell>
                            <TableHeaderCell></TableHeaderCell>
                        </TableRow>
                    </TableHeader>
                    <TableBody>
                        @foreach (var order in historyOrders!)
                        {
                            var reservations = order.Reservations.ToList();
                            for (var i = 0; i < reservations.Count; i += 1)
                            {
                                var isFirstReservation = i == 0;
                                var reservation = reservations[i];
                                <TableRow>
                                    <TableRowHeader Class="@(isFirstReservation ? "extra-border-top" : "border-top-0")">
                                        @(isFirstReservation ? order.OrderId.ToString() : "")
                                    </TableRowHeader>
                                    <TableRowCell Class="@(isFirstReservation ? "extra-border-top" : "")">
                                        @resources![reservation.ResourceId].Name
                                    </TableRowCell>
                                    <TableRowCell Class="@(isFirstReservation ? "extra-border-top" : "")">
                                        @Formatter.FormatDate(reservation.Extent.Date)
                                    </TableRowCell>
                                    <TableRowCell Class="@(isFirstReservation ? "extra-border-top" : "")">
                                        @reservation.Extent.Nights
                                    </TableRowCell>
                                    <TableRowCell Class="@(isFirstReservation ? "extra-border-top" : "")">
                                        @GetReservationStatus(reservation)
                                    </TableRowCell>
                                    <TableRowCell Class="@(isFirstReservation ? "extra-border-top" : "border-top-0")">
                                        @if (isFirstReservation)
                                        {
                                            <Button Color="Color.Light" Size="Size.Small" Class="btn-fixed float-end" Clicked="() => EditOrder(order)">
                                                Vis
                                            </Button>
                                        }
                                    </TableRowCell>
                                </TableRow>
                            }
                        }
                    </TableBody>
                </Table>
            }
            @if (!orders!.Any() && !historyOrders!.Any())
            {
                <Paragraph>Gå til <a href="@UrlPath.Calendar">kalenderen</a> for at reservere af et lokale.</Paragraph>
            }
        </Container>
    }
</main>
