@page "/bestillinger/{orderId:int}"
<PageTitle>@(order is not null ? $"Bestilling {order.OrderId} - " : "")Frederikskaj 2 lokalereservation</PageTitle>
<main>
    @if (!isInitialized)
    {
        <Spinner/>
    }
    else if (order?.Type is OrderType.Resident)
    {
        <Container class="container-min-lg">
            <Alert Color="Color.Success" Visible="showSuccessAlert" Dismisable="true">
                Bestillingen er blevet opdateret.
                <CloseButton Clicked="DismissSuccessAlert"/>
            </Alert>
            <Alert Color="Color.Danger" Visible="showErrorAlert" Dismisable="true">
                Der er sket en fejl, og bestillingen blev ikke opdateret.
                <CloseButton Clicked="DismissErrorAlert"/>
            </Alert>
            <Card Background="Background.Light">
                <CardHeader>
                    <CardTitle Size="1">Bestilling @order.OrderId</CardTitle>
                </CardHeader>
                <CardBody>
                    <div class="flex-container">
                        <div>
                            <div>
                                <a href="mailto:@order.UserIdentity.Email?subject=Frederikskaj 2 bestilling @order.OrderId">@order.UserIdentity.Email</a>
                            </div>
                            <div><a href="@UrlPath.Users/@order.UserIdentity.UserId">@order.UserIdentity.FullName</a></div>
                            @if (order.UserIdentity.ApartmentId.HasValue && order.UserIdentity.ApartmentId != Apartment.Deleted.ApartmentId)
                            {
                                <div>Frederikskaj @apartments![order.UserIdentity.ApartmentId.Value]</div>
                            }
                            <div>@order.UserIdentity.Phone</div>
                        </div>
                        <OrderStatus Reservations="order.Reservations"/>
                    </div>
                </CardBody>
            </Card>
            <Card Background="Background.Light">
                <CardHeader>
                    <CardTitle Size="1">Reservationer</CardTitle>
                </CardHeader>
                <CardBody>
                    <OrderStatement
                        IsHistoryOrder="order.IsHistoryOrder"
                        AccountNumber="@order.Resident!.AccountNumber"
                        Reservations="order.Reservations"
                        NoFeeCancellationIsAllowedBefore="order.Resident.NoFeeCancellationIsAllowedBefore"
                        CanEditOrder="canHandleOrders"
                        CanWaiveFee="canWaiveFee"
                        OnSettleReservation="SettleReservation"
                        OnSubmit="Submit"/>
                </CardBody>
            </Card>
            <AdditionalLineItems Items="order.Resident!.AdditionalLineItems" Reservations="order.Reservations"/>
            <OrderAudits Order="order"/>
        </Container>
        @if (canHandleOrders)
        {
            <SettlementDialog @ref="settlementDialog" OnConfirm="OnSettleConfirm"/>
        }
    }
    else if (canHandleOrders && order?.Type is OrderType.Owner)
    {
        <Container class="container-min-md">
            <Alert Color="Color.Success" Visible="showSuccessAlert" Dismisable="true">
                Bestillingen er blevet opdateret.
                <CloseButton Clicked="DismissSuccessAlert"/>
            </Alert>
            <Alert Color="Color.Danger" Visible="showErrorAlert" Dismisable="true">
                Der er sket en fejl, og bestillingen blev ikke opdateret.
                <CloseButton Clicked="DismissErrorAlert"/>
            </Alert>
            <Card Background="Background.Light">
                <CardHeader>
                    <CardTitle Size="1">Bestilling @order.OrderId</CardTitle>
                </CardHeader>
                <CardBody>
                    <Text>Oprettet af <a href="@UrlPath.Users/@order.UserIdentity.UserId">@order.UserIdentity.FullName</a> på vegne af grundejerforeningen</Text>
                </CardBody>
            </Card>
            <Card Background="Background.Light">
                <CardHeader>
                    <CardTitle Size="1">Detaljer</CardTitle>
                </CardHeader>
                <CardBody>
                    <OwnerOrderStatement
                        OrderId="order.OrderId"
                        IsHistoryOrder="order.IsHistoryOrder"
                        Description="@order.Owner!.Description"
                        Reservations="order.Reservations"
                        IsCleaningRequired="order.Owner.IsCleaningRequired"
                        OnSubmit="SubmitOwnerOrder"/>
                </CardBody>
            </Card>
            <OrderAudits Order="order"/>
        </Container>
    }
    else
    {
        <Container>
            <Alert Color="Color.Success" Visible="showSuccessAlert" Dismisable="true">
                Bestillingen er blevet slettet.
                <CloseButton Clicked="DismissSuccessAlert"/>
            </Alert>
            <Text>Bestilling @OrderId er ikke tilgængelig.</Text>
        </Container>
    }
</main>
