@page "/ejer/bestil/1"
@using ValidationRule = Frederikskaj2.Reservations.Core.ValidationRule
<PageTitle>Ejerbestil - Frederikskaj 2 lokalereservation</PageTitle>
<main>
    @if (!DraftOrder.Reservations.Any())
    {
        <Container>
            <Paragraph>Gå til <a href="@UrlPath.OwnerCalendar">kalenderen</a> for at reservere et lokale.</Paragraph>
        </Container>
    }
    else
    {
        <Container Class="container-min-md">
            <Alert Color="Color.Danger" Visible="showReservationConflictAlert" Dismisable="true">
                Din bestilling blev ikke gennemført da den overlapper med andre reservationer. Opdatér kalenderen og prøv igen.
                <CloseButton Clicked="DismissReservationConflictAlert"/>
            </Alert>
            <Alert Color="Color.Danger" Visible="showErrorAlert" Dismisable="true">
                Der er sket en fejl, og din bestilling blev ikke gennemført.
                <CloseButton Clicked="DismissErrorAlert"/>
            </Alert>
            <h1>Din bestilling på vegne af grundejerforeningen</h1>
            <Form>
                <Validations @ref="validations" Mode="ValidationMode.Manual">
                    <Field>
                        <FieldLabel>Formål</FieldLabel>
                        <FieldBody>
                            <Validation Validator="Validator.ValidateOwnerOrderDescription">
                                <TextEdit
                                    @bind-Text="description"
                                    Placeholder="Oplys formålet med bestillingen"
                                    MaxLength="ValidationRule.MaximumOwnerOrderDescriptionLength">
                                    <Feedback>
                                        <ValidationError/>
                                    </Feedback>
                                </TextEdit>
                            </Validation>
                        </FieldBody>
                    </Field>
                </Validations>
                <Table>
                    <TableHeader>
                        <TableRow>
                            <TableHeaderCell Class="order-table-resource-column">Lokale</TableHeaderCell>
                            <TableHeaderCell Class="order-table-time-column">Fra</TableHeaderCell>
                            <TableHeaderCell Class="text-end">Nætter</TableHeaderCell>
                            <TableHeaderCell Class="order-table-time-column text-end">Til</TableHeaderCell>
                        </TableRow>
                    </TableHeader>
                    <TableBody>
                        @foreach (var reservation in DraftOrder.Reservations)
                        {
                            <TableRow>
                                <TableRowCell>@reservation.Resource.Name</TableRowCell>
                                <TableRowCell>@Formatter.FormatCheckInTimeShort(options!, reservation.Extent.Date)</TableRowCell>
                                <TableRowCell Class="text-end">@reservation.Extent.Nights</TableRowCell>
                                <TableRowCell Class="text-end">
                                    @Formatter.FormatCheckOutTimeShort(options!, reservation.Extent.Date.PlusDays(reservation.Extent.Nights))
                                </TableRowCell>
                            </TableRow>
                        }
                    </TableBody>
                    <TableFooter>
                        <TableRow>
                            <TableRowCell ColumnSpan="2">
                                <Field>
                                    <Check @bind-Checked="isCleaningRequired">Bestil rengøring</Check>
                                </Field>
                            </TableRowCell>
                            <TableRowCell ColumnSpan="2">
                                <Button
                                    Class="float-end"
                                    Color="Color.Success"
                                    Type="@ButtonType.Submit"
                                    PreventDefaultOnSubmit="true"
                                    Disabled="@string.IsNullOrWhiteSpace(description)"
                                    Clicked="Submit">
                                    Bekræft bestilling
                                </Button>
                            </TableRowCell>
                        </TableRow>
                    </TableFooter>
                </Table>
            </Form>
        </Container>
    }
</main>
