@page "/rapporter"
<PageTitle>Rapporter</PageTitle>
<main>
    @if (!isInitialized)
    {
        <Spinner/>
    }
    else if (yearlySummary is null)
    {
        <Container>
            <Alert Color="Color.Danger" Visible="true">
                Der er i øjeblikket driftsproblemer. Prøv igen om lidt.
            </Alert>
        </Container>
    }
    else
    {
        <Container>
            <h1>Årsrapport</h1>
            @if (yearlySummaryRange is not null)
            {
                <Form>
                    <Row>
                        <Column ColumnSize="ColumnSize.IsThird">
                            <Field>
                                <FieldLabel>År</FieldLabel>
                                <FieldBody>
                                    <Select TValue="int" SelectedValue="currentYear" SelectedValueChanged="YearChanged">
                                        @for (var year = yearlySummaryRange.EarliestYear; year <= yearlySummaryRange.LatestYear; year += 1)
                                        {
                                            var localYear = year;
                                            <SelectItem Value="localYear">@localYear</SelectItem>
                                        }
                                    </Select>
                                </FieldBody>
                            </Field>
                        </Column>
                    </Row>
                </Form>
            }
            <Table>
                <TableHeader>
                    <TableRow>
                        <TableHeaderCell>Lokale</TableHeaderCell>
                        <TableHeaderCell Class="text-right">Reservationer</TableHeaderCell>
                        <TableHeaderCell Class="text-right">Nætter</TableHeaderCell>
                        <TableHeaderCell Class="text-right">Indtægt</TableHeaderCell>
                    </TableRow>
                </TableHeader>
                <TableBody>
                    @foreach (var resourceSummary in yearlySummary.ResourceSummaries.OrderBy(summary => summary.ResourceType))
                    {
                        <TableRow>
                            <TableRowCell>@GetResourceName(resourceSummary.ResourceType)</TableRowCell>
                            <TableRowCell Class="text-right">@resourceSummary.ReservationCount</TableRowCell>
                            <TableRowCell Class="text-right">@resourceSummary.Nights</TableRowCell>
                            <TableRowCell Class="text-right">@Formatter.FormatMoneyShort(resourceSummary.Income)</TableRowCell>
                        </TableRow>
                    }
                </TableBody>
            </Table>
            <p>En reservation medregnes i et år baseret på reservationens startdato. Gebyrer, erstatninger og andre justeringer indgår ikke i indtægter.</p>
        </Container>
    }
</main>
