@inherits FragmentNavigationBase
<div>
    @if (!Transactions?.Any() ?? false)
    {
        <Paragraph>Der er intet at vise.</Paragraph>
    }
    else
    {
        <Table>
            <TableHeader>
                <TableRow>
                    <TableHeaderCell>Dato</TableHeaderCell>
                    <TableHeaderCell>Tekst</TableHeaderCell>
                    <TableHeaderCell Class="text-end">Beløb</TableHeaderCell>
                    <TableHeaderCell Class="text-end">Saldo</TableHeaderCell>
                </TableRow>
            </TableHeader>
            <TableBody>
                @{
                    foreach (var transaction in Transactions!)
                    {
                        balance += transaction.Amount;
                        var localBalance = balance;
                        <TableRow Class="@(transaction.TransactionId == SelectedTransactionId ? "highlight" : "")">
                            <TableRowCell>
                                <a id="t-@transaction.TransactionId">@Formatter.FormatDate(transaction.Date)</a>
                            </TableRowCell>
                            <TableRowCell>
                                @switch (transaction.Activity)
                                {
                                    case Activity.PlaceOrder:
                                        <a href="@UrlPath.Orders/@transaction.OrderId">Oprettelse af bestilling @transaction.OrderId</a>
                                        break;
                                    case Activity.UpdateOrder or Activity.SettleReservation:
                                        <a href="@UrlPath.Orders/@transaction.OrderId">@transaction.Description</a>
                                        break;
                                    case Activity.PayIn:
                                        @:Indbetaling
                                        break;
                                    case Activity.PayOut:
                                        @:Udbetaling
                                        break;
                                    case Activity.Reimburse:
                                        @:Godtgørelse: @transaction.Description
                                        break;
                                    default:
                                        @:Ukendt
                                        break;
                                }
                            </TableRowCell>
                            <TableRowCell class="text-end">@Formatter.FormatMoneyShort(transaction.Amount)</TableRowCell>
                            <TableRowCell class="text-end">@Formatter.FormatMoneyShort(localBalance)</TableRowCell>
                        </TableRow>
                    }
                }
            </TableBody>
            <TableFooter>
                <TableRow>
                    <TableRowCell ColumnSpan="4" Class="text-end">
                        <a id="total">
                            <strong>@Formatter.FormatMoneyShort(balance)</strong>
                        </a>
                    </TableRowCell>
                </TableRow>
            </TableFooter>
        </Table>
        <Paragraph>Alle beløb er i kr. En positiv saldo betyder at beboeren har penge til gode. En negativ saldo betyder at beboeren skylder penge.</Paragraph>
    }
</div>
