<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">
<head>
    <title>Manglende betaling</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 " />
</head>
<body>
    <p>Hej @Model.Data.FullName</p>
    <p>Du mangler stadig at betale en eller flere af dine bestillinger. De bliver først godkendt når du har indbetalt det beløb du skylder til grundejerforeningens bankkonto:</p>
    <p>
        <table>
            <tbody>
                <tr>
                    <td>Beløb:</td>
                    <td><strong>@Model.FormatAmount(Model.Data.Payment.Amount)</strong></td>
                </tr>
                <tr>
                    <td>Kontonummer:</td>
                    <td><strong>@Model.Data.Payment.AccountNumber</strong></td>
                </tr>
                <tr>
                    <td>Tekst på indbetaling:</td>
                    <td><strong>@Model.Data.Payment.PaymentId</strong></td>
                </tr>
            </tbody>
        </table>
    </p>
    <p>Du bedes straks indbetale det skyldige beløb. Ellers forbeholder vi os ret til at annullere dine bestillinger.</p>
    <p>Med venlig hilsen<br />@Model.From<br /><a href="@Model.FromUrl">@Model.FromUrl</a></p>
    <p><a href="@Model.GetUrl(Urls.MyOrders)">Dine bestillinger</a> • <a href="@Model.GetUrl(Urls.MyTransactions)">Dit kontoudtog</a> • <a href="@Model.GetUrl(Urls.MyAccount)">Din konto</a></p>
</body>
