@model OrderModel
@inject ReservationsOptions ReservationsOptions
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">
<head>
    <title>Ny bestilling</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 " />
</head>
<body>
    <p>Hej @Model.Name</p>
    <p>Det er @ReservationsOptions.PaymentDeadlineInDays dage siden at <a href="@Model.Url">bestilling @Model.OrderId</a> blev oprettet uden at det krævede beløb er blevet registreret som indbetalt.</p>
    <p>Hvis brugeren ikke betaler det krævede beløb skal bestillingen annulleres.</p>
    @await Html.PartialAsync("_Signature", Model)
    <p><a href="@($"{Model.FromUrl}/{Urls.Orders}")" />Bestillinger</a> • <a href="@($"{Model.FromUrl}/{Urls.MyAccount}")" />Din konto</a></p>
</body>