@using Frederikskaj2.Reservations.Shared.Core
@if (Items?.Count() > 0)
{
    <Card Background="Background.Light">
        <CardHeader>
            <CardTitle Size="1">Tillæg og fradrag</CardTitle>
        </CardHeader>
        <CardBody>
            <Table>
                <TableHeader>
                    <TableRow>
                        <TableHeaderCell>Dato</TableHeaderCell>
                        <TableHeaderCell>Beskrivelse</TableHeaderCell>
                        <TableHeaderCell Class="text-right">Beløb</TableHeaderCell>
                    </TableRow>
                </TableHeader>
                <TableBody>
                    @foreach (var item in Items)
                    {
                        <TableRow>
                            <TableRowCell>@Formatter.FormatDate(item.Timestamp)</TableRowCell>
                            <TableRowCell>
                                @if (item.Type is LineItemType.CancellationFee)
                                {
                                    <text>Afbestilling @GetReservationsDescription(item.CancellationFee!)</text>
                                }
                                else if (item.Type is LineItemType.Damages)
                                {
                                    <text>Fradrag @GetReservationDescription(item.Damages!.Reservation): @item.Damages.Description</text>
                                }
                            </TableRowCell>
                            <TableRowCell Class="text-right">@Formatter.FormatMoneyLong(item.Amount)</TableRowCell>
                            <TableRowCell Class="border-0" />
                        </TableRow>
                    }
                </TableBody>
            </Table>
        </CardBody>
    </Card>
}
