@using Frederikskaj2.Reservations.Shared.Core
<Alert Color="Color.Danger" Visible="@showErrorAlert" Dismisable="true">
    Der er sket en fejl, og din bruger blev ikke slettet.
    <CloseButton Clicked="@DismissErrorAlert" />
</Alert>
<Alert Color="Color.Warning" Visible="@showPendingDeleteAlert" Dismisable="true">
    Din bruger kan ikke slettes i øjeblikket, men vil blive slettet så snart du ikke har flere aktive bestillinger.
    <CloseButton Clicked="@DismissPendingDeleteAlert" />
</Alert>
<Card Background="Background.Light">
    <CardHeader>
        <CardTitle Size="1">Sletning</CardTitle>
    </CardHeader>
    <CardBody>
        @if (!User.IsPendingDelete && !User.Roles.HasFlag(Roles.UserAdministration))
        {
            <Paragraph>
                Hvis du sletter din bruger, kan du ikke længere reservere lokaler på Frederikskaj 2. Når din bruger bliver slettet, fjerner vi alle oplysninger om dig fra vores system. Hvis du tidligere har foretaget bestillinger, vil disse fortsat findes i systemet af hensyn til statistik, men de er ikke længere knyttet til din person. Alle ind- og udbetalinger hørende til dig er endvidere registreret i vores bogholderi.
            </Paragraph>
            <Paragraph>
                Hvis du har aktive bestillinger vil din bruger først blive endelig slettet når disse bestillinger er afsluttet.
            </Paragraph>
            <div class="button-row">
                <Button Color="Color.Danger" Class="btn-fixed" Clicked="@ConfirmDeleteUserAsync">Slet bruger</Button>
            </div>
        }
        else if (User.IsPendingDelete)
        {
            <Paragraph>
                Vi har registeret at du ønsker at din bruger bliver slettet. Sletningen vil blive gennemført når du ikke længere har aktive bestillinger i vores system.
            </Paragraph>
        }
        else
        {
            <Paragraph>
                Du kan ikke slette din bruger så længe du er brugeradminstrator i systemet. For at slette din bruger skal du bede en anden brugeradministrator om at fjerne din adgang til at administrere brugere. Når dette er sket kan du selv slette din bruger.
            </Paragraph>
        }
    </CardBody>
</Card>
<ConfirmDeleteMyUserDialog @ref="confirmDeleteDialog" OnConfirm="@DeleteUserAsync" />
