<Table>
    <TableHeader>
        <TableRow>
            <TableHeaderCell>Betillingsnr.</TableHeaderCell>
            <TableHeaderCell>Oprettet</TableHeaderCell>
            <TableHeaderCell>Næste reservation</TableHeaderCell>
            <TableHeaderCell>Navn</TableHeaderCell>
            <TableHeaderCell>Adressse</TableHeaderCell>
        </TableRow>
    </TableHeader>
    <TableBody>
        @{
            var tuples = Orders!.Select(order => (Order: order, Date: GetNextReservationDate(order))).OrderBy(tuple => tuple.Date).ThenBy(tuple => tuple.Order.OrderId);
            foreach (var tuple in tuples)
            {
                var (order, date) = tuple;
                <TableRow @key="@order.OrderId">
                    <TableRowCell><a href="@Urls.Orders/@order.OrderId">@order.OrderId</a></TableRowCell>
                    <TableRowCell>@Formatter.FormatDate(order.CreatedTimestamp)</TableRowCell>
                    <TableRowCell>@Formatter.FormatDate(date)</TableRowCell>
                    <TableRowCell>
                        <a href="@Urls.Users/@order.UserInformation.UserId">@order.UserInformation.FullName</a>
                    </TableRowCell>
                    <TableRowCell>
                        @if (order.UserInformation.ApartmentId.HasValue && order.UserInformation.ApartmentId != Apartment.Deleted.ApartmentId)
                        {
                            <text>@GetApartment(order.UserInformation.ApartmentId.Value)</text>
                        }
                    </TableRowCell>
                </TableRow>
            }
        }
    </TableBody>
</Table>
