@inject FormattingService FormattingService
@inject ReservationsOptions ReservationsOptions
@inject IReservationPolicyProvider ReservationPolicyProvider

<Modal @ref="@modal" Closed="@OnModalClosed">
    <ModalBackdrop />
    <Form>
        <ModalContent>
            <ModalHeader>
                <ModalTitle>Reservér @Reservation?.Resource.Name</ModalTitle>
                <CloseButton Clicked="@Cancel" />
            </ModalHeader>
            <ModalBody>
                <Field Horizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is4">Fra</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is8">
                        <TextEdit Plaintext="true" Text="@GetCheckInTime()" />
                    </FieldBody>
                </Field>
                <Field Horizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is4">Antal dage</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is8">
                        <Select @ref="@select" TValue="int" SelectedValue="@(Reservation?.DurationInDays ?? 0)" SelectedValueChanged="@DurationInDaysChanged">
                            @for (var i = MinimumDays; i <= MaximumDays; i += 1)
                            {
                                var localI = i;
                                <SelectItem Value="@localI">@localI</SelectItem>
                            }
                        </Select>
                    </FieldBody>
                </Field>
                <Field Horizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is4">Til</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is8">
                        <TextEdit Plaintext="true" Text="@GetCheckOutTime()" />
                    </FieldBody>
                </Field>
                <Field Horizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is4">Leje</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is8">
                        <TextEdit Plaintext="true" Text="@rent" />
                    </FieldBody>
                </Field>
                <Field Horizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is4">Depositum</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is8">
                        <TextEdit Plaintext="true" Text="@deposit" />
                    </FieldBody>
                </Field>
                <Field Horizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is4">Til betaling</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is8">
                        <TextEdit Plaintext="true" Text="@total" />
                    </FieldBody>
                </Field>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Primary" Type="ButtonType.Submit" PreventDefaultOnSubmit="true" Clicked="@Confirm">Reservér</Button>
                <Button Color="Color.Secondary" Clicked="@Cancel">Annullér</Button>
            </ModalFooter>
        </ModalContent>
    </Form>
</Modal>

@code {

    private Modal modal = null!;
    private Select<int> select = null!;
    private IReservationPolicy? policy;
    private string rent = string.Empty;
    private string deposit = string.Empty;
    private string total = string.Empty;
    private bool isConfirming;

    [Parameter]
    public DraftReservation? Reservation { get; set; }

    [Parameter]
    public EventCallback OnReservationChanged { get; set; }

    [Parameter]
    public EventCallback OnConfirm { get; set; }

    [Parameter]
    public EventCallback OnCancel { get; set; }

    public int MinimumDays { get; set; } = 1;
    public int MaximumDays { get; set; } = 7;

    public void Show()
    {
        isConfirming = false;
        modal.Show();
        Task.Run(() => select.Focus());
    }

    protected override async Task OnParametersSetAsync()
    {
        if (Reservation != null)
            policy = ReservationPolicyProvider.GetPolicy(Reservation!.Resource.Type);
        await UpdatePrice();
    }

    private void Cancel() => modal.Hide();

    private void Confirm()
    {
        isConfirming = true;
        modal.Hide();
    }

    private Task OnModalClosed() => isConfirming ? OnConfirm.InvokeAsync(null) : OnCancel.InvokeAsync(null);

    private async Task DurationInDaysChanged(int value)
    {
        Reservation!.DurationInDays = value;
        await UpdatePrice();
        await OnReservationChanged.InvokeAsync(null);
    }

    private async Task UpdatePrice()
    {
        if (Reservation == null || policy == null)
            return;
        Reservation.Price = await policy.GetPrice(Reservation.Date, Reservation.DurationInDays);
        rent = $"{FormattingService.FormatMoneyLong(Reservation.Price.Rent + Reservation.Price.CleaningFee)} (inklusiv rengøring {FormattingService.FormatMoneyLong(Reservation.Price.CleaningFee)})";
        deposit = FormattingService.FormatMoneyLong(Reservation.Price.Deposit);
        total = FormattingService.FormatMoneyLong(Reservation.Price.GetTotal());
    }

    private string GetCheckInTime() => Reservation != null
        ? FormattingService.FormatCheckInTimeLong(Reservation.Date)
        : string.Empty;

    private string GetCheckOutTime() => Reservation != null
        ? FormattingService.FormatCheckOutTimeLong(Reservation.Date.PlusDays(Reservation.DurationInDays))
        : string.Empty;

}