<section class="sidebar">
    @if (reservationCount > 0)
    {
        <div class="draft-order">
            <h1>Din bestilling</h1>
            @foreach (var reservation in DraftOrder.Reservations)
            {
                <Card>
                    <CardBody>
                        <CardTitle>
                            <h2>@reservation.Resource.Name</h2>
                            <button type="button" class="close" @onclick="@(() => RemoveReservation(reservation))">
                                <span>&times;</span>
                            </button>
                        </CardTitle>
                        <CardText>
                            <p>@Formatter.FormatDate(reservation.Extent.Date) / @reservation.Extent.Nights @(reservation.Extent.Nights > 1 ? "nætter" : "nat")</p>
                            @if (ShowPrices)
                            {
                                <Prices Price="@GetPrice(reservation)"/>
                            }
                        </CardText>
                    </CardBody>
                </Card>
            }
            @if (reservationCount == 1)
            {
                <p class="draft-order-get-started">Flere reservationer? Tilføj dem her før du bestiller</p>
            }
        </div>
    }
    else
    {
        <div class="draft-order">
            <p class="draft-order-get-started">Vælg lokale og en ledig dato for at reservere</p>
        </div>
    }
    <div class="draft-order-total @(reservationCount > 0 ? "" : "hidden")">
        @if (ShowPrices)
        {
            <Prices Price="@totalPrice"/>
        }
        <Button Color="Color.Success" Block="true" Clicked="@Checkout" TabIndex="@(reservationCount > 0 ? 0 : -1)">Bestil</Button>
    </div>
</section>
