@page "/opret-bruger"
<PageTitle>Opret bruger - Frederikskaj 2 lokalereservation</PageTitle>
<main>
    @if (!isInitialized)
    {
        <Spinner/>
    }
    else
    {
        <Container Class="container-max-sm">
            <Alert Color="Color.Success" Visible="showSuccessAlert" Dismisable="true">
                Din bruger er oprettet. <a href="@UrlPath.SignIn">Log ind</a> for at fortsætte.
                <CloseButton Clicked="DismissErrorAlert"/>
            </Alert>
            <Alert Color="Color.Danger" Visible="showErrorAlert" Dismisable="true">
                <PasswordErrors
                    TooShortPassword="error is SignUpError.TooShortPassword"
                    ExposedPassword="error is SignUpError.ExposedPassword"
                    EmailSameAsPassword="error is SignUpError.EmailSameAsPassword"/>
                <CloseButton Clicked="DismissErrorAlert"/>
                Din bruger blev ikke oprettet.
            </Alert>
            <IndefiniteProgressBar @ref="progressBar"/>
            <Form>
                <Validations @ref="validations" Mode="ValidationMode.Manual">
                    <EmailEditor @ref="emailEditor" @bind-Value="SignUpState.ViewModel.Email" Disabled="isDisabled"/>
                    <FullNameEditor @bind-Value="SignUpState.ViewModel.FullName" Disabled="isDisabled"/>
                    <PhoneEditor @bind-Value="SignUpState.ViewModel.Phone" Disabled="isDisabled"/>
                    <AddressEditor @bind-Value="SignUpState.ViewModel.ApartmentId" IsRequired="true" Disabled="isDisabled"/>
                    <Field>
                        <FieldLabel>Adgangskode</FieldLabel>
                        <FieldBody>
                            <Validation Validator="@(e => Validator.ValidatePassword(e, "Du skal vælge en adgangskode"))">
                                <TextEdit
                                    Role="@TextRole.Password"
                                    @bind-Text="SignUpState.ViewModel.Password"
                                    Disabled="isDisabled"
                                    autocomplete="new-password">
                                    <Feedback>
                                        <ValidationError/>
                                    </Feedback>
                                </TextEdit>
                            </Validation>
                        </FieldBody>
                    </Field>
                    <Field>
                        <FieldLabel>Gentag adgangskode</FieldLabel>
                        <FieldBody>
                            <Validation Validator="ValidateConfirmPassword">
                                <TextEdit Role="@TextRole.Password" Disabled="isDisabled" autocomplete="new-password">
                                    <Feedback>
                                        <ValidationError>Adgangskoden er ikke den samme</ValidationError>
                                    </Feedback>
                                </TextEdit>
                            </Validation>
                        </FieldBody>
                    </Field>
                    <Field>
                        <Validation Validator="Validator.ValidateAcceptTerms">
                            <Check TValue="bool" Disabled="isDisabled">
                                <ChildContent>
                                    Jeg <a href="@UrlPath.Consent">samtykker</a> til at ovenstående oplysninger behandles af Grundejerforeningen Frederikskaj 2 med
                                    henblik på reservation af lokaler.
                                </ChildContent>
                                <Feedback>
                                    <ValidationError>Du skal samtykke til at vi behandler dine personoplysninger</ValidationError>
                                </Feedback>
                            </Check>
                        </Validation>
                    </Field>
                    <Button
                        Color="Color.Primary"
                        Type="@ButtonType.Submit"
                        PreventDefaultOnSubmit="true"
                        Clicked="Submit"
                        Disabled="@isDisabled"
                        Class="btn-text">
                        Opret bruger
                    </Button>
                </Validations>
            </Form>
        </Container>
    }
</main>
