<Modal @ref="modal" Closed="OnModalClosed">
    <Form>
        <ModalContent>
            <ModalHeader>
                <ModalTitle>Reservér @Order?.DraftReservation?.Resource.Name</ModalTitle>
                <CloseButton Clicked="Cancel"/>
            </ModalHeader>
            <ModalBody>
                @if (ShowWarning)
                {
                    <Alert Color="Color.Warning" Visible="true">
                        Bemærk! Startdato ændret for at muliggøre reservation.
                    </Alert>
                }
                <Field Horizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is4">Fra</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is8">
                        <TextEdit Plaintext="true" Text="@GetCheckInTime()" TabIndex="-1"/>
                    </FieldBody>
                </Field>
                <Field Horizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is4">Antal nætter</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is8">
                        <Select @ref="select" TValue="int" SelectedValue="Order?.DraftReservation?.Extent.Nights ?? 0" SelectedValueChanged="NightsChanged">
                            <SelectItem Value="0">Angiv en værdi</SelectItem>
                            @for (var i = MinimumNights; i <= MaximumNights; i += 1)
                            {
                                var localI = i;
                                <SelectItem Value="localI">@localI</SelectItem>
                            }
                        </Select>
                    </FieldBody>
                </Field>
                <Field Horizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is4">Til</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is8">
                        <TextEdit Plaintext="true" Text="@GetCheckOutTime()" TabIndex="-1"/>
                    </FieldBody>
                </Field>
                @if (ShowPrices)
                {
                    <Field Horizontal="true">
                        <FieldLabel ColumnSize="ColumnSize.Is4">Leje</FieldLabel>
                        <FieldBody ColumnSize="ColumnSize.Is8">
                            <TextEdit Plaintext="true" Text="@rent" TabIndex="-1"/>
                        </FieldBody>
                    </Field>
                    <Field Horizontal="true">
                        <FieldLabel ColumnSize="ColumnSize.Is4">Depositum</FieldLabel>
                        <FieldBody ColumnSize="ColumnSize.Is8">
                            <TextEdit Plaintext="true" Text="@deposit" TabIndex="-1"/>
                        </FieldBody>
                    </Field>
                    <Field Horizontal="true">
                        <FieldLabel ColumnSize="ColumnSize.Is4">Til betaling</FieldLabel>
                        <FieldBody ColumnSize="ColumnSize.Is8">
                            <TextEdit Plaintext="true" Text="@total" TabIndex="-1"/>
                        </FieldBody>
                    </Field>
                }
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Primary" Type="@ButtonType.Submit" PreventDefaultOnSubmit="true" Clicked="Confirm" Disabled="@IsSubmitDisabled">
                    Reservér
                </Button>
                <Button Color="Color.Secondary" Clicked="Cancel">Annullér</Button>
            </ModalFooter>
        </ModalContent>
    </Form>
</Modal>
