<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">
<head>
    <title>Nøglebokskode til @Model.Data.ResourceName den @Model.FormatShortDate(Model.Data.Date)</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 " />
</head>
<body>
<p>Hej @Model.Data.FullName</p>
@if (Model.Data.DatedLockBoxCodes.Count() is 1)
{
    <p>Her er den nøglebokskode du skal bruge for at få adgang til <strong>@Model.Data.ResourceName</strong> den @Model.FormatShortDate(Model.Data.Date):</p>
    <p><strong>@Model.Data.DatedLockBoxCodes.First().Code</strong></p>
}
else
{
    <p>Her er de nøglebokskoder du skal bruge for at få adgang til <strong>@Model.Data.ResourceName</strong> den @Model.FormatShortDate(Model.Data.Date):</p>
    @foreach (var dateLockBoxCode in Model.Data.DatedLockBoxCodes)
    {
    <p>Fra @Model.FormatShortDate(dateLockBoxCode.Date): <strong>@dateLockBoxCode.Code</strong></p>
    }
}
    <p>Det er <strong>vigtigt</strong> at du overholder den <a href="@Model.Data.RulesUrl">husorden</a> der gælder for brug lokalet.</p>
    <p>Med venlig hilsen<br />@Model.From<br /><a href="@Model.FromUrl">@Model.FromUrl</a></p>
    <p><a href="@Model.Data.OrderUrl">Din bestilling</a> • <a href="@Model.GetUrl(Urls.MyTransactions)">Dit kontoudtog</a> • <a href="@Model.GetUrl(Urls.MyAccount)">Din konto</a></p>
</body>
